.offscreen {
  @include offscreen;
}

.r6-like-font {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}

body {
  @include meyer-reset;
  background-color: #111111 !important;
  background: #000000; /* Old browsers */
  background: -moz-linear-gradient(left, #000000 0%, #151515 50%, #111111 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #000000 0%,#151515 50%,#111111 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #000000 0%,#151515 50%,#111111 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#111111',GradientType=1 ); /* IE6-9 */
}

body {
  overflow:hidden;
}

body, button, input, select {
  @extend .r6-like-font;
  font-size: 1rem;
}
