svg.drawing-markers {
  z-index: $z-drawing-markers;

  circle.ping-marker {
    &.center {
      cursor: pointer;
      fill: $panel-marker;
      pointer-events: auto;
      stroke: #fff;
    }

    &.highlight {
      pointer-events: none;
    }

    &.accent {
      fill: $panel-marker-faded;
      transition: fill 0.6s linear;

      &.highlight {
        fill: rgba(255,255,255,0.5);
        transition: none;
      }
    }

    &.other-floor {
      stroke: $panel-marker;
    }
  }

  polygon.ping-marker {
    &.other-floor {
      fill: $panel-marker;
      pointer-events: none;
      stroke: #fff;
    }
  }

  line.ping-marker {
    stroke: $panel-marker-faded;
    transition: stroke 0.6s linear;

    &.highlight {
      stroke: #fff;
      transition: none;
    }
  }
}
