@mixin icon-size($width, $height) {
  width: $width;
  height: $height;
  margin-left: -($width/2);
  margin-top: -($height/2);
}

@mixin text-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0,.4)) {
  text-shadow: $x $y $blur $color;
}

@mixin offscreen() {
	$offset: -10000px;

	position: absolute !important;
	left: $offset;
	overflow: hidden;
	width: 1px;
	height: 1px;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}
