nav {
  left: 0;
  position: absolute;
  top: 0;
  z-index: $z-nav;

  .wrapper {
    align-items: center;
    background: $faded-bg;
    display: flex;
    justify-content: space-between;
    min-height: 4rem;
    width: 100vw;
  }

  select {
    font-size: $nav-font-size;
  }

  .left.controls {
    align-items: center;
    display: flex;
  }

  .right.controls {
    margin: $control-padding;
  }

  .middle.controls {
    margin: $control-padding;
  }

  #nav-logo {
    background: url('../img/r6maps-logo-nav.png');
    background-size: 40px 41px;
    background-repeat: no-repeat;
    height: 41px;
    margin-left: 0.3rem;
    min-width: 40px;
    width: 40px;

    &.enabled {
      cursor: pointer;

      &:hover {
        background: url('../img/r6maps-logo-nav-hover.png');
        background-size: 40px 41px;
        background-repeat: no-repeat;
      }
    }

    body.show-select-map & {
      background: url('../img/r6maps-logo-nav-selected.png');
      background-size: 40px 41px;
      background-repeat: no-repeat;
    }
  }

  #select-map-heading {
    display: none;
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 0.8rem;
    color: #fff;

    body.show-select-map & {
      display: inline;
    }
  }

  #map-controls-wrapper {
    display: none;

    body.show-map & {
      display: inline-block;
    }
  }

  #map-control {
    margin: $control-padding-top-bottom 0 $control-padding-top-bottom $control-padding-left-right;
    width: 120px;

    @media screen and (max-width: $break-small) {
      width: 80px;
    }
  }

  #objective-control {
    margin: $control-padding-top-bottom 0;

    @media screen and (max-width: $break-small) {
      width: 80px;
    }
  }

  a {
    color: #fff;
    text-decoration: none;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }

  #floor-control {
    display: inline-block;
    margin: $control-padding;

    .short {
      display: none;
      @media screen and (max-width: $break-small) {
        display: inline;
      }
    }

    .full {
      @media screen and (max-width: $break-small) {
        display: none;
      }
    }

    button {
      @media screen and (max-width: $break-small) {
        padding-left: 0.7em;
        padding-right: 0.7em;
      }
    }
  }

  #zoom-range {
    display: none;

    body.show-map & {
      display: inline-block;
    }

    @media screen and (max-width: $break-very-small) {
      display: none !important;
    }
  }

  button {
    background-color: #fff;
    border: 1px solid #000;
    cursor: pointer;
    font-size: $nav-font-size;
    transition: background-color $button-transition;

    &:hover, &:focus {
      background-color: $r6-blue;
    }

    &.selected {
      background-color: $r6-yellow;
      cursor: auto;
    }

    &#mmenu-link {
      @include text-shadow();
      background-color: transparent;
      border: 1px solid #fff;
      color: #fff;

      &:hover, &:focus {
        background-color: $r6-blue;
        text-shadow: none;
      }
    }
  }
}
