$map-thumb-height: 278px;

@mixin map-thumb-icon($position) {
  background-position: 0px ($map-thumb-height * -($position - 1));
}

@mixin map-name-selected() {
  background-color: $r6-yellow;
  color: #000;
  text-shadow: none;
}

#select-map-grid {
  align-items: center;
  background-color: $less-faded-bg;
  bottom: 0;
  display: flex;
  height: 100vh;
  opacity: 0;
  position: fixed;
  transition: visibility 0.5s, opacity 0.5s linear;
  visibility: hidden;
  width: 100%;
  z-index: $z-select-map-grid;

  &.enable-thumb-transition div.thumb {
    transition: all 0.75s;
  }

  body.show-select-map & {
    visibility: visible;
    opacity: 1;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      display: inline-block;

      a {
        @include box-shadow(0, 0, 25px, rgba(0,0,0,0.6));
        align-items: flex-end;
        background-size: 160px;
        border: 1px solid #fff;
        color: #fff;
        display: flex;
        height: 120px;
        position: relative;
        text-decoration: none;
        transition: box-shadow $button-transition;
        width: 160px;


        div.wrapper-absolute {
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
          z-index: -1;
        }

        div.wrapper-overflow {
          align-items: center;
          background-color: $r6-blue;
          display: flex;
          height: 100%;
          justify-content: center;
          overflow: hidden;
          width: 100%;
        }

        div.thumb {
          background-image: url($img-location + 'map-thumbs.jpg');
          height: 278px;
          min-width: 495px;
          width: 495px;
          -ms-transform: scale(0.5);
          -webkit-transform: scale(0.5);
          transform: scale(2);
        }

        p {
          @include text-shadow;
          background-color: $less-faded-bg;
          font-size: 1.5rem;
          overflow: hidden;
          padding: 0.5rem;
          text-overflow: ellipsis;
          width: 100%;
          transition: background-color $button-transition;

          @media screen and (max-width: $break-large) {
            font-size: 1.4rem;
          }
          @media screen and (max-width: $break-small) {
            font-size: 1.25rem;
            padding: 0.4rem;
          }
          @media screen and (max-width: $break-very-small) {
            font-size: 1.15rem;
            padding: 0.25rem;
          }
        }

        &:hover,
        &:focus {
          @include box-shadow(0, 0, 40px, rgba(0,0,0,1));

          p {
            background-color: $r6-blue;
          }
        }

        &:active {

          p {
            @include map-name-selected();
          }
        }

        &.bank div.thumb {
          @include map-thumb-icon(1);
        }
        body.bank &.bank p {
          @include map-name-selected();
        }

        &.border div.thumb {
          @include map-thumb-icon(2);
        }
        body.border &.border p {
          @include map-name-selected();
        }

        &.chalet div.thumb {
          @include map-thumb-icon(3);
        }
        body.chalet &.chalet p {
          @include map-name-selected();
        }

        &.club div.thumb {
          @include map-thumb-icon(4);
        }
        body.club &.club p {
          @include map-name-selected();
        }

        &.consulate div.thumb {
          @include map-thumb-icon(5);
        }
        body.consulate &.consulate p {
          @include map-name-selected();
        }

        &.favelas div.thumb {
          @include map-thumb-icon(6);
        }
        body.favelas &.favelas p {
          @include map-name-selected();
        }

        &.hereford div.thumb {
          @include map-thumb-icon(7);
        }
        body.hereford &.hereford p {
          @include map-name-selected();
        }

        &.house div.thumb {
          @include map-thumb-icon(8);
        }
        body.house &.house p {
          @include map-name-selected();
        }

        &.kafe div.thumb {
          @include map-thumb-icon(9);
        }
        body.kafe &.kafe p {
          @include map-name-selected();
        }

        &.kanal div.thumb {
          @include map-thumb-icon(10);
        }
        body.kanal &.kanal p {
          @include map-name-selected();
        }

        &.oregon div.thumb {
          @include map-thumb-icon(11);
        }
        body.oregon &.oregon p {
          @include map-name-selected();
        }

        &.plane div.thumb {
          @include map-thumb-icon(12);
        }
        body.plane &.plane p {
          @include map-name-selected();
        }

        &.yacht div.thumb {
          @include map-thumb-icon(13);
        }
        body.yacht &.yacht p {
          @include map-name-selected();
        }
      }
    }
  }
}
