svg.session-markers {
  visibility: hidden;
  z-index: $z-session-markers;

  [map-panel-count="2"] &,
  [map-panel-count="4"] & {
    visibility: visible;
  }

  circle.ping-marker.tapped {
    stroke: $panel-marker;
    fill: #fff;
  }

  line.ping-marker {
    stroke: $panel-marker-faded;
    transition: stroke 0.6s linear;

    &.highlight {
      stroke: #fff;
      transition: none;
    }
  }
}
