svg.session-markers {
  z-index: $z-session-markers;

  circle.ping-marker {
    &.center {
      stroke: #fff;
      fill: $panel-marker;
      cursor: pointer;
    }

    &.accent {
      fill: $panel-marker-faded;
      transition: fill 0.6s linear;

      &.highlight {
        fill: rgba(255,255,255,0.5);
        transition: none;
      }
    }
  }

  line.ping-marker {
    stroke: $panel-marker-faded;
    transition: stroke 0.6s linear;

    &.highlight {
      stroke: #fff;
      transition: none;
    }
  }
}
