nav {
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: $z-nav;

  .wrapper {
    @include align-items(center);
    @include flexbox;
    @include justify-content(space-between);
    background: $faded-bg;
    padding: 6px;

    @media screen and (max-width: $break-large) {
      padding: 8px;
    }
    @media screen and (max-width: $break-small) {
      padding: 4px;
    }
    @media screen and (max-width: $break-very-small) {
      padding: 2px;
    }
  }

  select {
    font-size: $nav-font-size - 0.05;
    pointer-events: auto;

    @media screen and (max-width: $break-small) {
      font-size: $nav-font-size-small - 0.05;
    }
    @media screen and (max-width: $break-very-small) {
      font-size: $nav-font-size-very-small - 0.05;
    }
  }

  .left.controls {
    @include align-items(center);
    @include flexbox;
  }

  #nav-logo {
    background-color: transparent;
    cursor: auto;
    border: 0;
    pointer-events: auto;
    padding: 0;

    &.enabled {
      cursor: pointer;

      &:hover {
        div {
          background-position: 0 -120px;
        }
      }
    }

    body.show-select-map &,
    &:focus {
      div {
        background-position: 0 -80px;
      }
    }

    div {
      background-image: url($img-location + 'r6maps-logo-nav-sprite@2x.png');
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 30px;
      height: 31px;
      min-width: 30px;
      -webkit-transition: background-image $button-transition;
      transition: background-image $button-transition;
      width: 30px;
    }
  }

  #select-map-heading {
    display: none;
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: $control-padding-left-right;
    color: #fff;

    body[dir="rtl"] & {
      margin-left: 0;
      margin-right: $control-padding-left-right;
    }

    body.show-select-map & {
      display: inline;
    }

    @media screen and (max-width: $break-small) {
      font-size: 1.33rem;
    }
    @media screen and (max-width: $break-very-small) {
      font-size: 1.25rem;
    }
  }

  #map-controls-wrapper {
    display: none;

    body.show-map & {
      display: inline-block;
    }
  }

  #map-control {
    width: 120px;
    margin-left: $control-padding-left-right;

    body[dir="rtl"] & {
      margin-left: 0;
      margin-right: $control-padding-left-right;
    }

    @media screen and (max-width: $break-small) {
      width: 80px;
    }
  }

  #objective-control {
    @media screen and (max-width: $break-small) {
      width: 80px;
    }
  }

  a {
    color: #fff;
    text-decoration: none;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }

  #toggle-control {
      button:focus {
        background-color: #fff;
      }
      button:focus:hover {
        background-color: $r6-blue;
      }
  }

  #floor-control, #toggle-control {
    display: inline-block;
    margin-left: $control-padding-left-right;

    body[dir="rtl"] & {
      margin-left: 0;
      margin-right: $control-padding-left-right;
    }

    .short {
      display: none;
      @media screen and (max-width: $break-small) {
        display: inline;
      }
    }

    .full {
      @media screen and (max-width: $break-small) {
        display: none;
      }
    }

    button {
      @media screen and (max-width: $break-small) {
        padding-left: 0.7em;
        padding-right: 0.7em;
      }
    }
  }

  #zoom-range {
    display: none;
    margin: 0 1rem 0 $control-padding-left-right;
    pointer-events: auto;

    body.show-map & {
      display: inline-block;
    }

    @media screen and (max-width: $break-very-small) {
      display: none !important;
    }
  }

  button {
    background-color: #fff;
    border: 1px solid #000;
    cursor: pointer;
    font-size: $nav-font-size;
    pointer-events: auto;
    transition: background-color $button-transition;

    @media screen and (max-width: $break-small) {
      font-size: $nav-font-size-small;
    }
    @media screen and (max-width: $break-very-small) {
      font-size: $nav-font-size-very-small;
    }

    &:hover, &:focus {
      background-color: $r6-blue;
    }

    &.selected {
      background-color: $r6-yellow;
      cursor: auto;
    }

    &#mmenu-link {
      @include highlighted-item();
      @include text-shadow();
      background-color: transparent;
      border: 1px solid #fff;
      color: #fff;
      min-width: 30px;
      min-height: 30px;

      &:hover, &:focus {
        background-color: $r6-blue;
        text-shadow: none;
      }

      span.menu-wrapper {
          align-items: center;
          display: flex;
      }

      span.menu-icon {
        @include inline-flex;
        @include flex-direction(column);
        @include justify-content(space-between);
        margin-right: 5px;
        width: 18px;

        body[dir="rtl"] & {
          margin-right: 0;
          margin-left: 5px;
        }

        @media screen and (max-width: $break-small) {
          margin-right: 0;

          body[dir="rtl"] & {
            margin-left: 0;
          }
        }

        span {
          border-radius: 1px;
          height: 4px;
          width: 100%;

          &:nth-child(odd) {
            @include box-shadow(2px, 2px, 5px, rgba(0,0,0,.4));
            background-color: #fff;
            height: 2px;
          }
        }
      }

      span.menu-text {
        @media screen and (max-width: $break-small) {
          display: none
        }
      }
    }
  }
}
