$map-thumb-height: 278px;

@mixin map-thumb-icon($position) {
  background-position: 0px ($map-thumb-height * -($position - 1));
}

@mixin map-name-selected() {
  background-color: $r6-yellow;
  color: #000;
  text-shadow: none;
}

#select-map-grid {
  background-color: $less-faded-bg;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition: visibility 0.5s, opacity 0.5s linear;
  visibility: hidden;
  width: 100%;
  z-index: $z-select-map-grid;

  &.enable-thumb-transition div.image.thumb {
    transition: all 0.6s;
  }

  body.show-select-map & {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }

  ul {
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(center);

    li {
      display: inline-block;

      a {
        @include box-shadow(0, 0, 25px, rgba(0,0,0,0.6));
        @include align-items(flex-end);
        background-size: 160px;
        border: 1px solid #fff;
        color: #fff;
        @include flexbox;
        height: 120px;
        position: relative;
        text-decoration: none;
        transition: box-shadow $button-transition;
        width: 160px;

        div.wrapper.absolute {
          @include align-items(center);
          @include flexbox;
          height: 100%;
          @include justify-content(center);
          left: 0;
          overflow: hidden;
          position: absolute;
          top: 0;
          width: 100%;

          &.thumb {
            z-index: -1;

            div {
              background-image: url($img-location + 'map-thumbs.jpg');
              height: 278px;
              min-width: 495px;
              width: 495px;
              -ms-transform: scale(0.5);
              -webkit-transform: scale(0.5);
              transform: scale(2);
            }
          }

          &.spinner {
            background-color: #111;
            z-index: -2;
          }
        }

        p {
          @include text-shadow;
          background-color: $less-faded-bg;
          font-size: 1.5rem;
          overflow: hidden;
          padding: 0.5rem;
          text-overflow: ellipsis;
          width: 100%;
          transition: background-color $button-transition;

          @media screen and (max-width: $break-large) {
            font-size: 1.4rem;
          }
          @media screen and (max-width: $break-small) {
            font-size: 1.3rem;
            padding: 0.4rem;
          }
          @media screen and (max-width: $break-very-small) {
            font-size: 1.2rem;
            padding: 0.25rem;
          }
        }

        &:hover,
        &:focus {
          @include box-shadow(0, 0, 40px, rgba(0,0,0,1));

          p {
            background-color: $r6-blue !important;
            color: #fff !important;
          }
        }

        &:active {

          p {
            @include map-name-selected();
          }
        }

        &.bank div.image.thumb {
          @include map-thumb-icon(1);
        }
        body[loaded-map="bank"] &.bank p {
          @include map-name-selected();
        }

        &.bartlett div.image.thumb {
          @include map-thumb-icon(15);
        }
        body[loaded-map="bartlett"] &.bartlett p {
          @include map-name-selected();
        }

        &.border div.image.thumb {
          @include map-thumb-icon(2);
        }
        body[loaded-map="border"] &.border p {
          @include map-name-selected();
        }

        &.chalet div.image.thumb {
          @include map-thumb-icon(3);
        }
        body[loaded-map="chalet"] &.chalet p {
          @include map-name-selected();
        }

        &.club div.image.thumb {
          @include map-thumb-icon(4);
        }
        body[loaded-map="club"] &.club p {
          @include map-name-selected();
        }

        &.consulate div.image.thumb {
          @include map-thumb-icon(5);
        }
        body[loaded-map="consulate"] &.consulate p {
          @include map-name-selected();
        }

        &.coastline div.image.thumb {
          @include map-thumb-icon(16);
        }
        body[loaded-map="coastline"] &.coastline p {
          @include map-name-selected();
        }

        &.favela div.image.thumb {
          @include map-thumb-icon(6);
        }
        body[loaded-map="favela"] &.favela p {
          @include map-name-selected();
        }

        &.fortress div.image.thumb {
          @include map-thumb-icon(20);
        }
        body[loaded-map="fortress"] &.favela p {
          @include map-name-selected();
        }

        &.hereford div.image.thumb {
          @include map-thumb-icon(7);
        }
        body[loaded-map="hereford"] &.hereford p {
          @include map-name-selected();
        }

        &.house div.image.thumb {
          @include map-thumb-icon(8);
        }
        body[loaded-map="house"] &.house p {
          @include map-name-selected();
        }

        &.kafe div.image.thumb {
          @include map-thumb-icon(9);
        }
        body[loaded-map="kafe"] &.kafe p {
          @include map-name-selected();
        }

        &.kanal div.image.thumb {
          @include map-thumb-icon(10);
        }
        body[loaded-map="kanal"] &.kanal p {
          @include map-name-selected();
        }

        &.oregon div.image.thumb {
          @include map-thumb-icon(11);
        }
        body[loaded-map="oregon"] &.oregon p {
          @include map-name-selected();
        }

        &.outback div.image.thumb {
          @include map-thumb-icon(21);
        }
        body[loaded-map="outback"] &.outback p {
          @include map-name-selected();
        }

        &.plane div.image.thumb {
          @include map-thumb-icon(12);
        }
        body[loaded-map="plane"] &.plane p {
          @include map-name-selected();
        }

        &.skyscraper div.image.thumb {
          @include map-thumb-icon(14);
        }
        body[loaded-map="skyscraper"] &.skyscraper p {
          @include map-name-selected();
        }

        &.themepark div.image.thumb {
          @include map-thumb-icon(17);
        }
        body[loaded-map="themepark"] &.themepark p {
          @include map-name-selected();
        }

        &.tower div.image.thumb {
          @include map-thumb-icon(18);
        }
        body[loaded-map="themepark"] &.themepark p {
          @include map-name-selected();
        }

        &.villa div.image.thumb {
          @include map-thumb-icon(19);
        }
        body[loaded-map="villa"] &.themepark p {
          @include map-name-selected();
        }

        &.yacht div.image.thumb {
          @include map-thumb-icon(13);
        }
        body[loaded-map="yacht"] &.yacht p {
          @include map-name-selected();
        }
      }
    }
  }
}
