@import "../common/_meyer-reset.scss";
@import "../common/_helpers.scss";
@import "_range-input.scss";
@import "../common/_settings.scss";
@import "../common/_common.scss";
@import "_loading.scss";
@import "_nav.scss";
@import "_compass.scss";
@import "_legend.scss";
@import "_select-map.scss";
@import "_drawing.scss";
@import "_sessions.scss";
@import "_jquery.mmenu.positioning.scss";
@import "_jquery.mmenu.pagedim.scss";
@import "_jquery.mmenu.custom-r6maps.scss";

@mixin current-label {
  background-color: $r6-yellow;
  color: #000;
  text-shadow: none;
}

body {
  overflow: hidden;
}

.feature-flagged {
  display: none !important;
}

@mixin other-floor-icon ($width, $height, $direction, $z-index, $width-offset, $height-offset) {
  $other-floor-icon-width: 15px;
  $other-floor-icon-height: 22px;
  background: url($img-icons-location + $direction + '@2x.png');
  background-size: $other-floor-icon-width, $other-floor-icon-height;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  height: 22px;
  left: $width - ($other-floor-icon-width/2);
  margin-left: $width-offset;
  margin-top: $height-offset;
  position: absolute;
  top: $height - ($other-floor-icon-height/2);
  width: 15px;
  z-index: $z-index + 1;
}

#mmenu-page {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.map-wrapper {
  height: 100vh;
  width: 100vw;
  overflow:hidden;

  &.disable-cameras {
    .camera {
      pointer-events: none;
    }
  }

  &[show-floor-index="-1"] {
    .zero, .one, .two, .three, .four, .five {
      display: none !important;
    }
  }

  &[show-floor-index="0"] {
    .neg-one, .one, .two, .three, .four, .five {
      display: none !important;
    }
  }

  &[show-floor-index="1"] {
    .neg-one, .zero, .two, .three, .four, .five {
      display: none !important;
    }
  }

  &[show-floor-index="2"]{
    .neg-one, .zero, .one, .three, .four, .five {
      display: none !important;
    }
  }

  &[show-floor-index="3"] {
    .neg-one, .zero, .one, .two, .four, .five {
      display: none !important;
    }
  }

  &[show-floor-index="4"] {
    .neg-one, .zero, .one, .two, .three, .five {
      display: none !important;
    }
  }

  &[show-floor-index="5"] {
    .neg-one, .zero, .one, .two, .three, .four {
      display: none !important;
    }
  }
}

#map-panel-wrapper {
  @include align-content(space-around);
  @include flexbox;
  @include flex-wrap(wrap);
  @include justify-content(space-around);

  &[selected-floor-index="-1"] .map-wrapper[show-floor-index="-1"] .map-panel-label {
     @include current-label();
  }
  &[selected-floor-index="0"] .map-wrapper[show-floor-index="0"] .map-panel-label {
     @include current-label();
  }
  &[selected-floor-index="1"] .map-wrapper[show-floor-index="1"] .map-panel-label {
     @include current-label();
  }
  &[selected-floor-index="2"] .map-wrapper[show-floor-index="2"] .map-panel-label {
     @include current-label();
  }
  &[selected-floor-index="3"] .map-wrapper[show-floor-index="3"] .map-panel-label {
     @include current-label();
  }
  &[selected-floor-index="4"] .map-wrapper[show-floor-index="4"] .map-panel-label {
     @include current-label();
  }
  &[selected-floor-index="5"] .map-wrapper[show-floor-index="5"] .map-panel-label {
     @include current-label();
  }

  .helper-border {
    @include box-shadow(0, 0, 8px, rgba(0,0,0,1));
    background-color: transparent;
    display: none;
    position: absolute;
    -ms-transition:  background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    z-index: $z-map-border;

    body.show-map & {
      background-color: #fff;
    }
  }
  .helper-border.vertical {
    height: 100%;
    width: 1px;
  }
  .helper-border.horizontal {
    height: 1px;
    width: 100%;
  }

  .map-panel-label {
    @include text-shadow();
    background-color: $faded-bg;
    border-radius: 0 0 6px 6px;
    color: #fff;
    display: none;
    font-size: 1.2rem;
    left: 0;
    padding: 0.2em 0.6em 0.3em 0.6em;
    pointer-events: none;
    position: absolute;
    z-index: $z-map-label;
    text-align: center;
    top: 50%;
    -ms-transform: rotate(-90deg) translate(-50%, 0);
    -webkit-transform: rotate(-90deg) translate(-50%, 0);
    transform: rotate(-90deg) translate(-50%, 0);
    -ms-transform-origin: left top 0;
    -webkit-transform-origin: left top 0;
	  transform-origin: left top 0;

    @media screen and (max-width: $break-large) {
      font-size: 1.3rem;
    }
    @media screen and (max-width: $break-small) {
      font-size: 1.1rem;
    }
    @media screen and (max-width: $break-very-small) {
      font-size: 0.95rem;
    }

    span {
      display: none;
    }
  }

  .map-wrapper {
    display: none;

    &:first-child {
      display: block;
    }
    &:nth-child(2),
    &:nth-child(4) {
      .map-panel-label {
        left: 1px;
      }
    }
  }

  &[map-panel-count="2"] .map-wrapper {
    @include flex(1 1 50%);

    .map-panel-label {
      display: block;
    }

    .helper-border.vertical {
      display: block;
    }

    &:first-child .helper-border.vertical {
      right: 0;
    }

    &:nth-child(2) {
      display: block;
    }

    @media (orientation: portrait) {
      @include flex(1 1 100%);
      height: 50vh;

      .helper-border.vertical {
        display: none;
      }
      .helper-border.horizontal {
        display: block;
      }
      &:first-child {
        .helper-border.horizontal {
          bottom: 0;
        }
      }
      &:nth-child(2) {
        .map-panel-label {
          left: 0;
        }
      }
    }

    .map-panel-label {
      span {
        display: inline;
      }
    }
  }

  &[map-panel-count="4"] .map-wrapper {
    @include flex(1 1 50%);
    display: block;
    height: 50vh;

    .map-panel-label {
      display: block;
    }

    .helper-border.vertical,
    .helper-border.horizontal {
      display: block;
    }

    &:first-child .helper-border.vertical,
    &:nth-child(3) .helper-border.vertical {
      right: 0;
    }

    &:first-child .helper-border.horizontal,
    &:nth-child(2) .helper-border.horizontal {
      bottom: 0;
    }

    .map-panel-label {
      span {
        display: inline;
      }
    }
  }
}

.map-main {
  height: 100%;
  position: relative;
  width: 100%;

  .center-helper {
    height: 0;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 0;
  }

  .svg-wrapper {
    position :relative;
    pointer-events: none;
  }

  svg {

    &.svg-elements {
      position: absolute;
    }

    &.map {
      z-index: $z-svg-map;

      .camera-los {
        fill: transparent;
        stroke: $r6-yellow;
        stroke-width: 3;
        stroke-linejoin: round;
        stroke-linecap: round;
        transition: opacity 1s;

        &.show-more {
          opacity: 1 !important;
        }

        &.opacity-105,
        &.opacity-110 {
          stroke: $r6-orange;
          stroke-dasharray: 7;

          &.show-more {
            stroke-dasharray: none;
          }
        }
        &.opacity-110 {
          stroke-width: 5;
        }
      }
    }
  }

  .map-elements {
    position: relative;

    img, div, a {
      position: absolute;
    }

    .background {
      @include box-shadow(0, 0, 50px, rgba(0,0,0,0.5));
      z-index: $z-background;
    }

    .floor {
      z-index: $z-floor;
    }

    .camera {
      @include icon-size($camera-width, $camera-height);
      background: url($img-icons-location + 'security-camera.png');
      background-size: $camera-width $camera-height;
      background-repeat: no-repeat;
      background-position: center;
      z-index: $z-camera;

      span.cam-num {
        background-color: #000;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        color: #fff;
        display: block;
        font-size: 11px;
        height: 12px;
        left: 12px;
        line-height: 12px;
        pointer-events: none;
        position: absolute;
        text-align: center;
        top: 16px;
        -ms-transition: background-color 0.3s;
        -webkit-transition: background-color 0.3s;
        transition: background-color 0.3s;
        width: 13px;
      }

      &:hover,
      &:focus {
        span.cam-num {
          background-color: $r6-blue;
        }
      }

      &.outdoor {
        @include icon-size($camera-outdoor-width, $camera-outdoor-height);
        background-size: $camera-outdoor-width $camera-outdoor-height;

        span.cam-num {
          border-top-left-radius: 7px;
          border-top-right-radius: 7px;
          border-bottom-left-radius: 7px;
          border-bottom-right-radius: 7px;
          font-size: 13px;
          height: 14px;
          left: 16px;
          line-height: 15px;
          top: 21px;
          width: 14px;
        }
      }

      &.other-floor {
        opacity: 0.85;
        pointer-events: none;

        &.up {
          span.other-floor {
            @include other-floor-icon ($camera-width, $camera-height, 'up', $z-camera, -6px, -8px);
          }
        }

        &.down {
          span.other-floor {
            @include other-floor-icon ($camera-width, $camera-height, 'down', $z-camera, -6px, -8px);
          }
        }
      }

      svg {
        background-color: red;
        opacity: 0.3;
        overflow: visible;

        path {
          fill: $r6-yellow;
        }
      }
    }

    .ladder {
      @include icon-size($ladder-width, $ladder-height);
      background: url($img-icons-location + 'ladder@2x.png');
      background-size: $ladder-width, $ladder-height;
      background-repeat: no-repeat;
      background-position: center;
      z-index: $z-ladder;

      &.other-floor {
        &.up {
          span.other-floor {
            @include other-floor-icon ($ladder-width, $ladder-height, 'up', $z-ladder, 0, -2px);
          }
        }

        &.down {
          span.other-floor {
            @include other-floor-icon ($ladder-width, $ladder-height, 'down', $z-ladder, 0, -2px);
          }
        }

        &.upanddown {
          span.other-floor {
            @include other-floor-icon ($ladder-width, $ladder-height, 'upanddown', $z-ladder, 0, -2px);
          }
        }
      }
    }

    .objective {
      @include icon-size($objective-width, $objective-height);
      border-radius: 5px;
      display: none;
      z-index: $z-objective;

      &.hostage {
        background-color: $r6-red;
        z-index: $z-objective-hostage;
      }

      &.bomb {
        background-color: $r6-orange;
        z-index: $z-objective-bomb;

        p {
          font-size: 25px;
        }
      }

      &.secure {
        background-color: $green-of-sorts;
        z-index: $z-objective-secure;
      }

      p {
        @include text-shadow();
        color: #fff;
        font-size: $objective-font-size;
        line-height: $objective-height;
        text-align: center;
        width: $objective-width;
      }

      &.smaller {
        @include icon-size($objective-width-smaller, $objective-height-smaller);

        p {
          font-size: $objective-font-size-smaller;
          line-height: $objective-height-smaller;
          width: $objective-width-smaller;
        }
      }

      &.up {
        span {
          @include other-floor-icon ($objective-width, $objective-height, 'up', $z-objective, 0px, -2px);
        }
      }

      &.down {
        span {
          @include other-floor-icon ($objective-width, $objective-height, 'down', $z-objective, 0px, 2px);
        }
      }
    }

    .ceiling-hatch {
      @include icon-size($ceiling-hatch-width, $ceiling-hatch-height);
      background: url($img-icons-location + 'ceiling-hatch.png');
      background-size: $ceiling-hatch-width, $ceiling-hatch-height;
      background-repeat: no-repeat;
      background-position: center;
      z-index: $z-ceiling-hatch;
    }

    .skylight {
      @include icon-size($skylight-width, $skylight-height);
      background: url($img-icons-location + 'skylight@2x.png');
      background-size: $skylight-width, $skylight-height;
      background-repeat: no-repeat;
      background-position: center;
      z-index: $z-skylight;

      &.other-floor {
        opacity: 0.7;

        &.up {
          span {
            @include other-floor-icon ($skylight-width, $skylight-height, 'up', $z-skylight, 0px, -3px);
          }
        }

        &.down {
          span {
            @include other-floor-icon ($skylight-width, $skylight-height, 'down', $z-skylight, 0px, -3px);
          }
        }
      }
    }

    .drone-tunnel {
      background-color: $drone-bg-color;
      border-left: $drone-border-width solid #fff;
      border-right: $drone-border-width solid #fff;
      margin-left: -(($drone-width + ($drone-border-width*2)) /2);
      width: $drone-width;
      z-index: $z-drone;

      &.alternate {
        background-color: $drone-bg-alternate-color;
      }

      &.other-floor {
        &.up {
          span.other-floor {
            @include other-floor-icon ($other-floor-drone-width, $other-floor-drone-height, 'up', $z-camera, -2px, 0);
          }
        }

        &.down {
          span.other-floor {
            @include other-floor-icon ($other-floor-drone-width, $other-floor-drone-height, 'down', $z-camera, -2px, 0);
          }
        }

        &.upanddown {
          span.other-floor {
            @include other-floor-icon ($other-floor-drone-width, $other-floor-drone-height, 'upanddown', $z-camera, -2px, 0);
          }
        }
      }
    }

    .spawn-point {
      z-index: $z-spawn-point;

      .spawn-wrapper {
        position: relative;

        .spawn-letter {
          background-color: $spawn-point-bg;
          left: -($spawn-point-width/2);
          padding: $spawn-point-padding;
          position: absolute;
          top: -($spawn-point-width/2);
          width: $spawn-point-width - ($spawn-point-padding * 2);
          height: $spawn-point-width - ($spawn-point-padding * 2);

          p {
            @include text-shadow;
            border: $spawn-point-border solid #000;
            color: #fff;
            font-size: 50px;
            text-align: center;
            width: $spawn-point-width - ($spawn-point-padding *2) - ($spawn-point-border * 2);
            height: $spawn-point-width - ($spawn-point-padding * 2) - ($spawn-point-border * 2);
            line-height: $spawn-point-width - ($spawn-point-padding * 2) - ($spawn-point-border * 2);
          }
        }

        .spawn-description {
          position: absolute;
          top: 38px;
          left: -150px;
          width: 300px;
          text-align: center;

          p {
            @include text-shadow;
            background-color: $spawn-point-bg;
            color: #fff;
            display: inline-block;
            font-size: 27px;
            padding: 2px 6px;
            text-transform: uppercase;
          }
        }
      }
    }

    .room-label {
      height: 2.5em;
      margin-left: -110px;
      margin-top: -1.25em;
      opacity: $room-label-opacity;
      text-align: center;
      width: 220px;
      z-index: $z-room-label;

      &.smaller p {
        font-size: 14px;
      }

      p {
        @include text-shadow(2px, 1px, 4px, $color: rgba(0,0,0,0.8));
        color: #fff;
        display: inline-block;;
        font-size: 16px;
        font-weight: 400;

        @at-root .map-elements.room-label-large .room-label {
          &.smaller p {
            font-size: 18px !important;
          }
          p {
            font-size: 21px !important;
          }
        }
        @at-root .map-elements.room-label-small .room-label {
          &.smaller p {
            font-size: 11px !important;
          }
          p {
            font-size: 11px !important;
          }
        }
        @at-root .map-elements.room-label-dark .room-label {
          opacity: 1 !important;

          p {
            background: $faded-bg;
            font-weight: 600 !important;
          }
        }
        @at-root .map-elements.room-label-display-none .room-label {
          display: none;
        }
      }

      &.hard-to-read {
        opacity: $room-label-opacity + 0.1;

        p {
          background: $faded-bg;
        }
      }

      &.very-hard-to-read {
        opacity: $room-label-opacity + 0.35;

        p {
          background: $faded-bg;
        }
      }
    }

    &.show-objective-all {
      .objective {
        display: block;
      }
    }

    &.show-objective-hostage {
      .hostage {
        display: block;
      }
    }

    &.show-objective-bomb {
      .bomb {
        display: block;
      }
    }

    &.show-objective-secure {
      .secure {
        display: block;
      }
    }

    &.zoomed-in-far {

    }

    &.zoomed-out-far {
      .room-label {
        opacity: 0;
      }
    }
  }
}
