@import "../common/_meyer-reset.scss";
@import "../common/_helpers.scss";
@import "../common/_settings.scss";
@import "../common/_common.scss";

body {
  &.about {
    background: url($img-location + 'about-bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    font-weight: 400;
    font-size: 1.3rem;
    overflow: visible;

    h1 {
      @include logo-header;
      margin: 0.75rem 0.75rem 1.5rem 0.75rem;
    }

    h2 {
      color: $r6-yellow;
      font-size: 2.2rem;
      font-weight: 700;
      line-height: 160%;
      margin-bottom: 0.5em;
      text-transform: uppercase;

      &.top-header {
        margin: 2.5rem 0.5rem;
        color: #fff;

        span {
          background-color: $r6-yellow;
        }
      }

      span {
        background-color: #fff;
        color: #000;
        border-radius: 5px;
        padding: 0 0.5rem;
      }

      strong {
        display: block;
        text-transform: none;
        font-size: 3.4rem;
      }
    }

    h3 {
      font-weight: 700;
      padding-bottom: 0.4em;
    }

    p {
      font-family: 'Gentium Book Basic', serif;
      line-height: 130%;
      margin-bottom: 0.9em;

      &.thanks {
        @include text-shadow();
        color: $r6-yellow;
        font-size: 5em;
        font-weight: 700;
        margin-bottom: 0;

        &.secondary {
          font-size: 2.5rem;
        }
      }
    }

    a {
      color: #fff;
    }

    ul {
      margin: 1.5rem 0 0 0.5rem;

      li {
        line-height: 160%;
        padding: 0 0 1.2rem 0;
      }

      strong {
        font-weight: 700;
      }

      span.highlight {
        background-color: #fff;
        border-radius: 5px;
        color: #000;
        font-weight: 700;
        margin: 0 0.5rem 0 -0.5rem;
        padding: 2px 5px;
        padding-left: 0.75rem;
      }
    }

    section {
      background-color: $faded-bg;
      margin-bottom: 30px;
      padding: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        &.updates {
          font-weight: 700;
          margin-top: 0.5rem;

          span.highlight {
            background-color: #fff;
            border-radius: 5px;
            color: #000;
            margin: 0 0.5rem 0 -0.5rem;
            padding: 0.2rem 0 0.2rem 0.35rem
          }
        }
      }
    }

    .about-wrapper {
      margin: 0 auto;
      max-width: 900px;
    }

    img.update-ss {
      border: 2px solid white;
      margin: 0 0.5rem;
      max-width: calc(100% - 1rem);
    }

    footer {
      margin-bottom: 2rem;
    }

    footer {

      div {
        margin-bottom: 1.5rem;
      }

      a {
        font-size: 1.8rem;
        margin-left: 1rem;
      }
    }

    #lang-message {
      font-weight: 700;
      font-size: 1.5rem;
      text-align: center;
    }

    .bullet-list {
      list-style-type: circle;
      margin-left: 2.5rem;
      margin-top: 0.5rem;

      li {
        padding-bottom: 0.2rem;
      }
    }
  }
}
