html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* FOLDERS */
/* MISC */
/* RESPONSIVE BREAKPOINTS */
/* MAP ELEMENTS */
/* COLORS */
/* Z-INDEXES */
.offscreen {
  position: absolute !important;
  left: -10000px;
  overflow: hidden;
  width: 1px;
  height: 1px; }

.r6-like-font, body, button, input, select {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700; }

body {
  background-color: #111111;
  background: #000000;
  /* Old browsers */
  background: -moz-linear-gradient(left, #000000 0%, #151515 50%, #111111 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #000000 0%, #151515 50%, #111111 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #000000 0%, #151515 50%, #111111 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#111111',GradientType=1 );
  /* IE6-9 */ }
  body html, body body, body div, body span, body applet, body object, body iframe, body h1, body h2, body h3, body h4, body h5, body h6, body p, body blockquote, body pre, body a, body abbr, body acronym, body address, body big, body cite, body code, body del, body dfn, body em, body img, body ins, body kbd, body q, body s, body samp, body small, body strike, body strong, body sub, body sup, body tt, body var, body b, body u, body i, body center, body dl, body dt, body dd, body ol, body ul, body li, body fieldset, body form, body label, body legend, body table, body caption, body tbody, body tfoot, body thead, body tr, body th, body td, body article, body aside, body canvas, body details, body embed, body figure, body figcaption, body footer, body header, body hgroup, body menu, body nav, body output, body ruby, body section, body summary, body time, body mark, body audio, body video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  body article, body aside, body details, body figcaption, body figure, body footer, body header, body hgroup, body menu, body nav, body section {
    display: block; }
  body body {
    line-height: 1; }
  body ol, body ul {
    list-style: none; }
  body blockquote, body q {
    quotes: none; }
  body blockquote:before, body blockquote:after {
    content: "";
    content: none; }
  body q:before, body q:after {
    content: "";
    content: none; }
  body table {
    border-collapse: collapse;
    border-spacing: 0; }

body {
  overflow: hidden; }

body, button, input, select {
  font-size: 1rem; }

body.about {
  background: url("../img/about-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  font-weight: 400;
  font-size: 1.3rem;
  overflow: visible; }
  body.about h1 {
    margin: 2rem 0.5rem;
    font-size: 3.9rem;
    font-weight: 700;
    line-height: 80px; }
    body.about h1 a {
      background-image: url("../img/r6maps-logo.png");
      background-repeat: no-repeat;
      background-size: 80px;
      padding-left: 90px;
      text-decoration: none; }
  body.about h2 {
    color: #ffdb00;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 160%;
    margin-bottom: 0.5em;
    text-transform: uppercase; }
    body.about h2.top-header {
      margin-left: 0.5rem;
      margin-bottom: 1rem; }
    body.about h2 span {
      background-color: #fff;
      color: #000;
      border-radius: 5px;
      padding: 0 4px;
      margin: 0 0.5rem 0.2rem 0; }
    body.about h2 strong {
      display: block;
      text-transform: none;
      font-size: 3.4rem; }
  body.about h3 {
    font-weight: 700;
    padding-bottom: 0.4em; }
  body.about p {
    font-family: 'Gentium Book Basic', serif;
    line-height: 130%;
    margin-bottom: 0.9em; }
    body.about p.thanks {
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
      font-size: 5em;
      font-weight: 700;
      color: #ffdb00; }
  body.about a {
    color: #fff; }
  body.about ul {
    margin: 1.5rem 0 0 0.5rem; }
    body.about ul li {
      line-height: 160%;
      padding: 0 0 1.2rem 0; }
    body.about ul strong {
      font-weight: 700; }
    body.about ul span {
      background-color: #fff;
      color: #000;
      border-radius: 5px;
      padding: 2px 5px;
      font-weight: 700;
      margin-right: 0.5rem; }
  body.about section {
    background-color: rgba(16, 26, 36, 0.6);
    margin-bottom: 30px;
    padding: 10px; }
    body.about section:last-child {
      margin-bottom: 0; }
    body.about section a.updates {
      font-weight: 700;
      margin-top: 0.5rem; }
      body.about section a.updates span {
        background-color: #fff;
        color: #000;
        border-radius: 5px;
        padding: 2px 5px;
        margin-right: 0.5rem; }
  body.about .about-wrapper {
    margin: 0 auto;
    max-width: 900px; }
  body.about img.update-ss {
    border: 2px solid white;
    margin: 0 0.5rem;
    max-width: calc(100% - 1rem); }
  body.about footer {
    margin-bottom: 2rem; }
  body.about footer div,
  body.about header div {
    margin-bottom: 1.5rem; }
  body.about footer a,
  body.about header a {
    font-size: 1.8rem;
    margin-left: 1rem; }

/*# sourceMappingURL=about.1.1.0.css.map */
