html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* FOLDERS */
/* MISC */
/* RESPONSIVE BREAKPOINTS */
/* MAP ELEMENTS */
/* COLORS */
/* Z-INDEXES */
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100px; }
  @media screen and (max-width: 600px) {
    input[type=range] {
      width: 50px; } }
  @media screen and (max-width: 380px) {
    input[type=range] {
      display: none; } }
  @media screen and (min-width: 1400px) {
    input[type=range] {
      width: 135px; } }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100px;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101; }
  @media screen and (max-width: 600px) {
    input[type=range]::-webkit-slider-runnable-track {
      width: 50px; } }
  @media screen and (min-width: 1400px) {
    input[type=range]::-webkit-slider-runnable-track {
      width: 135px; } }

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd; }

input[type=range]::-moz-range-track {
  width: 100px;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101; }
  @media screen and (max-width: 600px) {
    input[type=range]::-moz-range-track {
      width: 50px; } }
  @media screen and (min-width: 1400px) {
    input[type=range]::-moz-range-track {
      width: 135px; } }

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer; }

input[type=range]::-ms-track {
  width: 100px;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent; }
  @media screen and (max-width: 600px) {
    input[type=range]::-ms-track {
      width: 50px; } }
  @media screen and (min-width: 1400px) {
    input[type=range]::-ms-track {
      width: 135px; } }

input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }

input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }

input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer; }

input[type=range]:focus::-ms-fill-lower {
  background: #3071a9; }

input[type=range]:focus::-ms-fill-upper {
  background: #367ebd; }

/* FOLDERS */
/* MISC */
/* RESPONSIVE BREAKPOINTS */
/* MAP ELEMENTS */
/* COLORS */
/* Z-INDEXES */
nav {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1200; }
  nav .wrapper {
    align-items: center;
    background: rgba(16, 26, 36, 0.6);
    display: flex;
    justify-content: space-between;
    min-height: 4rem;
    width: 100vw; }
    nav .wrapper h2 {
      font-size: 1.5rem;
      font-weight: 700;
      margin-left: 1rem;
      color: #fff; }
  nav select {
    font-size: 1.2rem; }
  nav .right.controls {
    margin: 0.15em 0.5em; }
  nav .middle.controls {
    margin: 0.15em 0.5em; }
  nav #map-controls-wrapper {
    display: none; }
    body.show-map nav #map-controls-wrapper {
      display: inline-block; }
  nav #map-control {
    margin: 0.15em 0 0.15em 0.5em;
    width: 120px; }
    @media screen and (max-width: 600px) {
      nav #map-control {
        width: 80px; } }
  nav #objective-control {
    margin: 0.15em 0; }
    @media screen and (max-width: 600px) {
      nav #objective-control {
        width: 80px; } }
  nav a {
    color: #fff;
    text-decoration: none; }
    nav a:hover, nav a:focus {
      text-decoration: underline; }
  nav #floor-control {
    display: inline-block;
    margin: 0.15em 0.5em; }
    nav #floor-control .short {
      display: none; }
      @media screen and (max-width: 600px) {
        nav #floor-control .short {
          display: inline; } }
    @media screen and (max-width: 600px) {
      nav #floor-control .full {
        display: none; } }
    @media screen and (max-width: 600px) {
      nav #floor-control button {
        padding-left: 0.7em;
        padding-right: 0.7em; } }
  nav #zoom-range {
    display: none; }
    body.show-map nav #zoom-range {
      display: inline-block; }
  nav button {
    background-color: #fff;
    border: 1px solid #000;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.2s; }
    nav button:hover, nav button:focus {
      background-color: #3a6082; }
    nav button.selected {
      background-color: #ffdb00;
      cursor: auto; }
    nav button#mmenu-link {
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
      background-color: transparent;
      border: 1px solid #fff;
      color: #fff; }
      nav button#mmenu-link:hover, nav button#mmenu-link:focus {
        background-color: #3a6082;
        text-shadow: none; }

body.about {
  background: url("../img/about-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  font-weight: 400;
  font-size: 1.3rem;
  overflow: visible; }
  body.about h1 {
    font-size: 3.9rem;
    margin: 2rem 0;
    padding-left: 100px;
    font-weight: 700;
    background-image: url("../img/r6maps-logo.png");
    background-repeat: no-repeat;
    line-height: 80px;
    background-size: 80px; }
  body.about .logo {
    text-decoration: none; }
  body.about h2 {
    color: #ffdb00;
    font-size: 2.2rem;
    font-weight: 700;
    padding-bottom: 0.5em;
    text-transform: uppercase; }
  body.about h3 {
    font-weight: 700;
    padding-bottom: 0.4em; }
  body.about p {
    font-family: 'Gentium Book Basic', serif;
    line-height: 130%;
    margin-bottom: 0.9em; }
    body.about p.thanks {
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
      font-size: 5em;
      font-weight: 700;
      color: #ffdb00; }
  body.about a {
    color: #fff; }
  body.about ul {
    margin: 1.5rem 0 0 0.5rem; }
    body.about ul li {
      padding: 0 0 2rem 0; }
    body.about ul span {
      background-color: #fff;
      color: #000;
      border-radius: 5px;
      padding: 5px;
      font-weight: 700;
      margin-right: 0.5rem; }
  body.about section {
    background-color: rgba(16, 26, 36, 0.6);
    margin-bottom: 30px;
    padding: 10px; }
  body.about .about-wrapper {
    margin: 0 auto;
    max-width: 900px; }

#legend {
  background-color: #000;
  border-radius: 10px 10px 0 0;
  bottom: -725px;
  color: #fff;
  font-weight: 400;
  padding: 8px;
  position: absolute;
  right: -1255px;
  width: 475px;
  z-index: 1015; }
  #legend li {
    background-image: url("../img/legend-sprite@2x.png");
    background-repeat: no-repeat;
    background-size: 35px;
    display: inline-block;
    float: left;
    font-weight: 400;
    height: 35px;
    line-height: 35px;
    padding-left: 43px;
    vertical-align: middle;
    width: 188px; }
    #legend li.legend-breakable-walls {
      background-position: 0px -72px;
      height: 31px;
      line-height: 31px; }
    #legend li.legend-breakable-floor-traps {
      background-position: 0px -2px;
      height: 31px;
      line-height: 31px; }
    #legend li.legend-ceiling-hatch {
      background-position: 0px -37px;
      height: 31px;
      line-height: 31px; }
    #legend li.legend-line-of-sight-walls {
      background-position: 0px -107px;
      height: 31px;
      line-height: 31px; }
    #legend li.legend-lineof-sight-floors {
      background-position: 0px -142px;
      height: 31px;
      line-height: 31px; }
    #legend li.legend-drone-tunnels {
      background-position: 0px -317px;
      height: 31px;
      line-height: 31px; }
    #legend li.legend-objectives {
      background-position: 0px -212px;
      height: 31px;
      line-height: 31px; }
    #legend li.legend-insertion-point {
      background-position: 0px -177px;
      height: 31px;
      line-height: 31px; }
    #legend li.legend-security-camera {
      background-position: 0px -247px;
      height: 31px;
      line-height: 31px; }
    #legend li.legend-skylight {
      background-position: 0px -282px;
      height: 31px;
      line-height: 31px; }
    #legend li.legend-down-and-up {
      background-position: 0px -352px;
      height: 31px;
      line-height: 31px; }
    #legend li.legend-camera-line-of-sight {
      background-position: 0px -387px;
      height: 31px;
      line-height: 31px; }

/*
	jQuery.mmenu position extension CSS
*/
.mm-menu.mm-top,
.mm-menu.mm-bottom {
  width: 100%;
  min-width: 100%;
  max-width: 100%; }

.mm-menu.mm-right {
  left: auto;
  right: 0; }

.mm-menu.mm-bottom {
  top: auto;
  bottom: 0; }

html.mm-right.mm-opening .mm-slideout {
  transform: translate3d(-80%, 0, 0); }

@media all and (max-width: 175px) {
  html.mm-right.mm-opening .mm-slideout {
    transform: translate3d(-140px, 0, 0); } }
@media all and (min-width: 550px) {
  html.mm-right.mm-opening .mm-slideout {
    transform: translate3d(-440px, 0, 0); } }
/*
	jQuery.mmenu z-position extension CSS
*/
html.mm-front .mm-slideout {
  transform: none !important;
  z-index: 0; }
html.mm-front #mm-blocker {
  z-index: 1; }
html.mm-front .mm-menu {
  z-index: 2; }

.mm-menu.mm-front, .mm-menu.mm-next {
  transition: transform 0.4s ease;
  transform: translate3d(-100%, 0, 0); }
  .mm-menu.mm-front.mm-right, .mm-menu.mm-next.mm-right {
    transform: translate3d(100%, 0, 0); }
.mm-menu.mm-top {
  transform: translate3d(0, -100%, 0); }
.mm-menu.mm-bottom {
  transform: translate3d(0, 100%, 0); }

html.mm-opening .mm-menu.mm-front, html.mm-opening .mm-menu.mm-next {
  transform: translate3d(0, 0, 0); }

.mm-menu.mm-top, .mm-menu.mm-bottom {
  height: 80%;
  min-height: 140px;
  max-height: 880px; }

/*
	jQuery.mmenu pageDim extension CSS
*/
html.mm-pagedim #mm-blocker, html.mm-pagedim-white #mm-blocker, html.mm-pagedim-black #mm-blocker {
  opacity: 0; }
html.mm-pagedim.mm-opening #mm-blocker, html.mm-pagedim-white.mm-opening #mm-blocker, html.mm-pagedim-black.mm-opening #mm-blocker {
  opacity: 0.3;
  transition: opacity 0.4s ease 0.4s; }
html.mm-pagedim #mm-blocker {
  background: inherit; }
html.mm-pagedim-white #mm-blocker {
  background: #fff; }
html.mm-pagedim-black #mm-blocker {
  background: #000; }

.mm-panel {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3a6082+0,3a6082+51,1d2f3f+100 */
  background: #3a6082 !important;
  /* Old browsers */
  background: -moz-linear-gradient(top, #3a6082 0%, #3a6082 51%, #1d2f3f 100%) !important;
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #3a6082 0%, #3a6082 51%, #1d2f3f 100%) !important;
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #3a6082 0%, #3a6082 51%, #1d2f3f 100%) !important;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a6082', endColorstr='#1d2f3f',GradientType=0 ) !important;
  padding-top: 0 !important; }

.faded-logo {
  position: absolute;
  bottom: 0px;
  right: 0;
  z-index: -100;
  background-image: url("../img/r6maps-logo-blue.png");
  background-position: center bottom;
  background-position: 100% calc(100% + 18px);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  opacity: 0.7; }

.mm-opening #mm-blocker {
  opacity: 0.5 !important; }

.mm-navbar {
  position: absolute !important;
  left: -10000px;
  overflow: hidden;
  width: 1px;
  height: 1px; }

.mmenu-custom-panel {
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-weight: 400;
  margin-bottom: 1em; }
  .mmenu-custom-panel a {
    color: #000 !important;
    display: block;
    font-weight: 700;
    padding: 0.7em;
    transition: background-color 0.2s; }
    .mmenu-custom-panel a:hover, .mmenu-custom-panel a:focus {
      background-color: #ffdb00;
      text-decoration: none !important; }
  .mmenu-custom-panel h2 {
    color: grey;
    padding: 0.7em; }
  .mmenu-custom-panel label {
    padding: 0.7em;
    font-weight: 700; }
  .mmenu-custom-panel .zoom.controls {
    align-items: center;
    display: flex;
    margin-left: 0.7em; }

#camera-los-percent {
  font-size: 1.25rem;
  font-weight: 700;
  margin-left: 0.5rem; }

#camera-los-default {
  margin-left: 0.25rem; }

.offscreen {
  position: absolute !important;
  left: -10000px;
  overflow: hidden;
  width: 1px;
  height: 1px; }

.r6-like-font, body, button, input, select {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700; }

body {
  background-color: #111111;
  background: #000000;
  /* Old browsers */
  background: -moz-linear-gradient(left, #000000 0%, #151515 50%, #111111 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #000000 0%, #151515 50%, #111111 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #000000 0%, #151515 50%, #111111 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#111111',GradientType=1 );
  /* IE6-9 */ }
  body html, body body, body div, body span, body applet, body object, body iframe, body h1, body h2, body h3, body h4, body h5, body h6, body p, body blockquote, body pre, body a, body abbr, body acronym, body address, body big, body cite, body code, body del, body dfn, body em, body img, body ins, body kbd, body q, body s, body samp, body small, body strike, body strong, body sub, body sup, body tt, body var, body b, body u, body i, body center, body dl, body dt, body dd, body ol, body ul, body li, body fieldset, body form, body label, body legend, body table, body caption, body tbody, body tfoot, body thead, body tr, body th, body td, body article, body aside, body canvas, body details, body embed, body figure, body figcaption, body footer, body header, body hgroup, body menu, body nav, body output, body ruby, body section, body summary, body time, body mark, body audio, body video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  body article, body aside, body details, body figcaption, body figure, body footer, body header, body hgroup, body menu, body nav, body section {
    display: block; }
  body body {
    line-height: 1; }
  body ol, body ul {
    list-style: none; }
  body blockquote, body q {
    quotes: none; }
  body blockquote:before, body blockquote:after {
    content: "";
    content: none; }
  body q:before, body q:after {
    content: "";
    content: none; }
  body table {
    border-collapse: collapse;
    border-spacing: 0; }

body {
  overflow: hidden; }

body, button, input, select {
  font-size: 1rem; }

#mmenu-page {
  width: 100vw;
  height: 100vh;
  position: relative; }

#map-pan-safety-wrapper {
  height: 100vh;
  width: 100vw;
  overflow: hidden; }

#map {
  height: 100vh;
  position: relative;
  width: 100vw;
  display: none; }
  body.show-map #map {
    display: block; }
  #map .center-helper {
    height: 0;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 0; }
  #map svg.center-helper {
    overflow: visible;
    width: 1px;
    height: 1px;
    z-index: 1112; }
  #map svg .camera-los {
    fill: transparent;
    stroke: #ffdb00;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-linecap: round;
    transition: opacity 1s; }
    #map svg .camera-los.show-more {
      opacity: 1 !important; }
  #map #map-elements {
    position: relative; }
    #map #map-elements img, #map #map-elements div, #map #map-elements a {
      position: absolute; }
    #map #map-elements .background {
      -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
      z-index: 1000; }
    #map #map-elements .floor {
      z-index: 1010; }
    #map #map-elements .camera {
      width: 36px;
      height: 36px;
      margin-left: -18px;
      margin-top: -18px;
      background: url("../img/icons/security-camera.png");
      background-size: 36px 36px;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 1170; }
      #map #map-elements .camera.outdoor {
        width: 46px;
        height: 46px;
        margin-left: -23px;
        margin-top: -23px;
        background-size: 46px 46px; }
      #map #map-elements .camera.other-floor {
        opacity: 0.85; }
        #map #map-elements .camera.other-floor.up span {
          background: url("../img/icons/up@2x.png");
          background-size: 15px, 22px;
          background-repeat: no-repeat;
          background-position: center;
          display: block;
          height: 22px;
          left: 28.5px;
          margin-left: -6px;
          margin-top: -8px;
          position: absolute;
          top: 25px;
          width: 15px;
          z-index: 1171; }
        #map #map-elements .camera.other-floor.down span {
          background: url("../img/icons/down@2x.png");
          background-size: 15px, 22px;
          background-repeat: no-repeat;
          background-position: center;
          display: block;
          height: 22px;
          left: 28.5px;
          margin-left: -6px;
          margin-top: -8px;
          position: absolute;
          top: 25px;
          width: 15px;
          z-index: 1171; }
      #map #map-elements .camera svg {
        background-color: red;
        opacity: 0.3;
        overflow: visible; }
        #map #map-elements .camera svg path {
          fill: #ffdb00; }
    #map #map-elements .objective {
      width: 30px;
      height: 40px;
      margin-left: -15px;
      margin-top: -20px;
      border-radius: 5px;
      display: none;
      z-index: 1150; }
      #map #map-elements .objective.hostage {
        background-color: #ab1513;
        z-index: 1153; }
      #map #map-elements .objective.bomb {
        background-color: #d65b2b;
        z-index: 1151; }
        #map #map-elements .objective.bomb p {
          font-size: 25px; }
      #map #map-elements .objective.secure {
        background-color: #00B200;
        z-index: 1152; }
      #map #map-elements .objective p {
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
        color: #fff;
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        width: 30px; }
      #map #map-elements .objective.up span {
        background: url("../img/icons/up@2x.png");
        background-size: 15px, 22px;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        height: 22px;
        left: 22.5px;
        margin-left: 0px;
        margin-top: -2px;
        position: absolute;
        top: 29px;
        width: 15px;
        z-index: 1151; }
      #map #map-elements .objective.down span {
        background: url("../img/icons/down@2x.png");
        background-size: 15px, 22px;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        height: 22px;
        left: 22.5px;
        margin-left: 0px;
        margin-top: 2px;
        position: absolute;
        top: 29px;
        width: 15px;
        z-index: 1151; }
    #map #map-elements .ceiling-hatch {
      width: 29px;
      height: 29px;
      margin-left: -14.5px;
      margin-top: -14.5px;
      background: url("../img/icons/ceiling-hatch.png");
      background-size: 29px, 29px;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 1020; }
    #map #map-elements .skylight {
      width: 29px;
      height: 29px;
      margin-left: -14.5px;
      margin-top: -14.5px;
      background: url("../img/icons/skylight@2x.png");
      background-size: 29px, 29px;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 1025; }
      #map #map-elements .skylight.other-floor {
        opacity: 0.7; }
        #map #map-elements .skylight.other-floor.up span {
          background: url("../img/icons/up@2x.png");
          background-size: 15px, 22px;
          background-repeat: no-repeat;
          background-position: center;
          display: block;
          height: 22px;
          left: 21.5px;
          margin-left: 0px;
          margin-top: -3px;
          position: absolute;
          top: 18px;
          width: 15px;
          z-index: 1026; }
        #map #map-elements .skylight.other-floor.down span {
          background: url("../img/icons/down@2x.png");
          background-size: 15px, 22px;
          background-repeat: no-repeat;
          background-position: center;
          display: block;
          height: 22px;
          left: 21.5px;
          margin-left: 0px;
          margin-top: -3px;
          position: absolute;
          top: 18px;
          width: 15px;
          z-index: 1026; }
    #map #map-elements .drone-tunnel {
      background-color: #7B0099;
      border-left: 2px solid #fff;
      border-right: 2px solid #fff;
      margin-left: -6px;
      width: 8px;
      z-index: 1160; }
      #map #map-elements .drone-tunnel.alternate {
        background-color: #FF1493; }
    #map #map-elements .spawn-point {
      z-index: 1013; }
      #map #map-elements .spawn-point .spawn-wrapper {
        position: relative; }
        #map #map-elements .spawn-point .spawn-wrapper .spawn-letter {
          background-color: #4C4C4C;
          left: -33px;
          padding: 4px;
          position: absolute;
          top: -33px;
          width: 58px;
          height: 58px; }
          #map #map-elements .spawn-point .spawn-wrapper .spawn-letter p {
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
            border: 2px solid #000;
            color: #fff;
            font-size: 50px;
            text-align: center;
            width: 54px;
            height: 54px;
            line-height: 54px; }
        #map #map-elements .spawn-point .spawn-wrapper .spawn-description {
          position: absolute;
          top: 38px;
          left: -150px;
          width: 300px;
          text-align: center; }
          #map #map-elements .spawn-point .spawn-wrapper .spawn-description p {
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
            background-color: #4C4C4C;
            color: #fff;
            display: inline-block;
            font-size: 27px;
            padding: 2px 6px;
            text-transform: uppercase; }
    #map #map-elements .room-label {
      height: 2.5em;
      margin-left: -110px;
      margin-top: -1.25em;
      opacity: 0.44;
      text-align: center;
      transition: opacity 3s;
      width: 220px;
      z-index: 1165; }
      #map #map-elements .room-label p {
        text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.8);
        color: #fff;
        display: inline-block;
        font-size: 15px;
        font-weight: 400; }
      #map #map-elements .room-label.hard-to-read {
        opacity: 0.54; }
        #map #map-elements .room-label.hard-to-read p {
          background: rgba(16, 26, 36, 0.6); }
      #map #map-elements .room-label.very-hard-to-read {
        opacity: 0.79; }
        #map #map-elements .room-label.very-hard-to-read p {
          background: rgba(16, 26, 36, 0.6); }
    #map #map-elements.show-objective-all .objective {
      display: block; }
    #map #map-elements.show-objective-hostage .hostage {
      display: block; }
    #map #map-elements.show-objective-bomb .bomb {
      display: block; }
    #map #map-elements.show-objective-secure .secure {
      display: block; }
    #map #map-elements.zoomed-out-far .room-label {
      opacity: 0; }
  #map.show-floor-zero .one, #map.show-floor-zero .two, #map.show-floor-zero .three, #map.show-floor-zero .four, #map.show-floor-zero .five {
    display: none !important; }
  #map.show-floor-one .zero, #map.show-floor-one .two, #map.show-floor-one .three, #map.show-floor-one .four, #map.show-floor-one .five {
    display: none !important; }
  #map.show-floor-two .zero, #map.show-floor-two .one, #map.show-floor-two .three, #map.show-floor-two .four, #map.show-floor-two .five {
    display: none !important; }
  #map.show-floor-three .zero, #map.show-floor-three .one, #map.show-floor-three .two, #map.show-floor-three .four, #map.show-floor-three .five {
    display: none !important; }
  #map.show-floor-four .zero, #map.show-floor-four .one, #map.show-floor-four .two, #map.show-floor-four .three, #map.show-floor-four .five {
    display: none !important; }
  #map.show-floor-five .zero, #map.show-floor-five .one, #map.show-floor-five .two, #map.show-floor-five .three, #map.show-floor-five .four {
    display: none !important; }

/*# sourceMappingURL=main.css.map */
