html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* FOLDERS */
/* MISC */
/* RESPONSIVE BREAKPOINTS */
/* MAP ELEMENTS */
/* COLORS */
/* Z-INDEXES */
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100px; }
  @media screen and (max-width: 620px) {
    input[type=range] {
      width: 50px; } }
  @media screen and (min-width: 1400px) {
    input[type=range] {
      width: 135px; } }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100px;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101; }
  @media screen and (max-width: 620px) {
    input[type=range]::-webkit-slider-runnable-track {
      width: 50px; } }
  @media screen and (min-width: 1400px) {
    input[type=range]::-webkit-slider-runnable-track {
      width: 135px; } }

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd; }

input[type=range]::-moz-range-track {
  width: 100px;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101; }
  @media screen and (max-width: 620px) {
    input[type=range]::-moz-range-track {
      width: 50px; } }
  @media screen and (min-width: 1400px) {
    input[type=range]::-moz-range-track {
      width: 135px; } }

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer; }

input[type=range]::-ms-track {
  width: 100px;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent; }
  @media screen and (max-width: 620px) {
    input[type=range]::-ms-track {
      width: 50px; } }
  @media screen and (min-width: 1400px) {
    input[type=range]::-ms-track {
      width: 135px; } }

input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }

input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }

input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer; }

input[type=range]:focus::-ms-fill-lower {
  background: #3071a9; }

input[type=range]:focus::-ms-fill-upper {
  background: #367ebd; }

/* FOLDERS */
/* MISC */
/* RESPONSIVE BREAKPOINTS */
/* MAP ELEMENTS */
/* COLORS */
/* Z-INDEXES */
nav {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1300; }
  nav .wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    background: rgba(16, 26, 36, 0.6);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    min-height: 4.2rem;
    width: 100vw; }
  nav select {
    font-size: 1.2rem; }
  nav .left.controls {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
  nav .right.controls {
    margin: 0.15em 0.5em; }
  nav .middle.controls {
    margin: 0.15em 0.5em; }
  nav #nav-logo {
    background-color: transparent;
    cursor: auto;
    border: 0;
    margin-left: 0.5rem;
    padding: 0; }
    nav #nav-logo.enabled {
      cursor: pointer; }
      nav #nav-logo.enabled:hover div {
        background-position: 0 -47px; }
        @media screen and (max-width: 400px) {
          nav #nav-logo.enabled:hover div {
            background-position: 0 -35px; } }
    body.show-select-map nav #nav-logo div, nav #nav-logo:focus div {
      background-position: 0 0; }
    nav #nav-logo div {
      background-image: url("../img/r6maps-logo-nav-sprite@2x.png");
      background-position: 0 -141px;
      background-repeat: no-repeat;
      background-size: 40px;
      height: 41px;
      min-width: 40px;
      -webkit-transition: background-image 0.2s;
      transition: background-image 0.2s;
      width: 40px; }
      @media screen and (max-width: 400px) {
        nav #nav-logo div {
          background-position: 0 -107px;
          background-size: 30px;
          height: 31px;
          min-width: 30px;
          width: 30px; } }
  nav #select-map-heading {
    display: none;
    font-size: 1.7rem;
    font-weight: 700;
    margin-left: 0.6rem;
    color: #fff; }
    body.show-select-map nav #select-map-heading {
      display: inline; }
    @media screen and (max-width: 620px) {
      nav #select-map-heading {
        font-size: 1.5rem; } }
    @media screen and (max-width: 400px) {
      nav #select-map-heading {
        font-size: 1.33rem; } }
  nav #map-controls-wrapper {
    display: none; }
    body.show-map nav #map-controls-wrapper {
      display: inline-block; }
  nav #map-control {
    margin: 0.15em 0 0.15em 0.5em;
    width: 120px; }
    @media screen and (max-width: 620px) {
      nav #map-control {
        width: 80px; } }
  nav #objective-control {
    margin: 0.15em 0; }
    @media screen and (max-width: 620px) {
      nav #objective-control {
        width: 80px; } }
  nav a {
    color: #fff;
    text-decoration: none; }
    nav a:hover, nav a:focus {
      text-decoration: underline; }
  nav #floor-control {
    display: inline-block;
    margin: 0.15em 0.5em; }
    nav #floor-control .short {
      display: none; }
      @media screen and (max-width: 620px) {
        nav #floor-control .short {
          display: inline; } }
    @media screen and (max-width: 620px) {
      nav #floor-control .full {
        display: none; } }
    @media screen and (max-width: 620px) {
      nav #floor-control button {
        padding-left: 0.7em;
        padding-right: 0.7em; } }
  nav #zoom-range {
    display: none; }
    body.show-map nav #zoom-range {
      display: inline-block; }
    @media screen and (max-width: 400px) {
      nav #zoom-range {
        display: none !important; } }
  nav button {
    background-color: #fff;
    border: 1px solid #000;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.2s; }
    nav button:hover, nav button:focus {
      background-color: #3a6082; }
    nav button.selected {
      background-color: #ffdb00;
      cursor: auto; }
    nav button#mmenu-link {
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
      background-color: transparent;
      border: 1px solid #fff;
      color: #fff; }
      nav button#mmenu-link:hover, nav button#mmenu-link:focus {
        background-color: #3a6082;
        text-shadow: none; }

body.about {
  background: url("../img/about-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  font-weight: 400;
  font-size: 1.3rem;
  overflow: visible; }
  body.about h1 {
    font-size: 3.9rem;
    margin: 2rem 0;
    padding-left: 100px;
    font-weight: 700;
    background-image: url("../img/r6maps-logo.png");
    background-repeat: no-repeat;
    line-height: 80px;
    background-size: 80px; }
  body.about .logo {
    text-decoration: none; }
  body.about h2 {
    color: #ffdb00;
    font-size: 2.2rem;
    font-weight: 700;
    padding-bottom: 0.5em;
    text-transform: uppercase; }
  body.about h3 {
    font-weight: 700;
    padding-bottom: 0.4em; }
  body.about p {
    font-family: 'Gentium Book Basic', serif;
    line-height: 130%;
    margin-bottom: 0.9em; }
    body.about p.thanks {
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
      font-size: 5em;
      font-weight: 700;
      color: #ffdb00; }
  body.about a {
    color: #fff; }
  body.about ul {
    margin: 1.5rem 0 0 0.5rem; }
    body.about ul li {
      padding: 0 0 2rem 0; }
    body.about ul span {
      background-color: #fff;
      color: #000;
      border-radius: 5px;
      padding: 5px;
      font-weight: 700;
      margin-right: 0.5rem; }
  body.about section {
    background-color: rgba(16, 26, 36, 0.6);
    margin-bottom: 30px;
    padding: 10px; }
  body.about .about-wrapper {
    margin: 0 auto;
    max-width: 900px; }

#legend {
  background-color: #000;
  border-radius: 10px 10px 0 0;
  bottom: -725px;
  color: #fff;
  font-weight: 400;
  padding: 8px;
  position: absolute;
  right: -1255px;
  width: 475px;
  z-index: 1015; }
  #legend li {
    background-image: url("../img/legend-sprite@2x.png");
    background-repeat: no-repeat;
    background-size: 35px;
    display: inline-block;
    float: left;
    font-weight: 400;
    height: 35px;
    line-height: 35px;
    padding-left: 43px;
    vertical-align: middle;
    width: 188px; }
    #legend li.legend-breakable-walls {
      background-position: 0px -72px;
      height: 31px;
      line-height: 31px; }
    #legend li.legend-breakable-floor-traps {
      background-position: 0px -2px;
      height: 31px;
      line-height: 31px; }
    #legend li.legend-ceiling-hatch {
      background-position: 0px -37px;
      height: 31px;
      line-height: 31px; }
    #legend li.legend-line-of-sight-walls {
      background-position: 0px -107px;
      height: 31px;
      line-height: 31px; }
    #legend li.legend-lineof-sight-floors {
      background-position: 0px -142px;
      height: 31px;
      line-height: 31px; }
    #legend li.legend-drone-tunnels {
      background-position: 0px -317px;
      height: 31px;
      line-height: 31px; }
    #legend li.legend-objectives {
      background-position: 0px -212px;
      height: 31px;
      line-height: 31px; }
    #legend li.legend-insertion-point {
      background-position: 0px -177px;
      height: 31px;
      line-height: 31px; }
    #legend li.legend-security-camera {
      background-position: 0px -247px;
      height: 31px;
      line-height: 31px; }
    #legend li.legend-skylight {
      background-position: 0px -282px;
      height: 31px;
      line-height: 31px; }
    #legend li.legend-down-and-up {
      background-position: 0px -352px;
      height: 31px;
      line-height: 31px; }
    #legend li.legend-camera-line-of-sight {
      background-position: 0px -387px;
      height: 31px;
      line-height: 31px; }

#select-map-grid {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  background-color: rgba(16, 26, 36, 0.7);
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  opacity: 0;
  position: fixed;
  transition: visibility 0.5s, opacity 0.5s linear;
  visibility: hidden;
  width: 100%;
  z-index: 1200; }
  #select-map-grid.enable-thumb-transition div.image.thumb {
    transition: all 0.6s; }
  body.show-select-map #select-map-grid {
    visibility: visible;
    opacity: 1; }
  #select-map-grid ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center; }
    #select-map-grid ul li {
      display: inline-block; }
      #select-map-grid ul li a {
        -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
        -webkit-box-align: end;
        -ms-flex-align: end;
        -webkit-align-items: flex-end;
        -moz-align-items: flex-end;
        align-items: flex-end;
        background-size: 160px;
        border: 1px solid #fff;
        color: #fff;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        height: 120px;
        position: relative;
        text-decoration: none;
        transition: box-shadow 0.2s;
        width: 160px; }
        #select-map-grid ul li a div.wrapper.absolute {
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          -moz-align-items: center;
          align-items: center;
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex;
          height: 100%;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          -moz-justify-content: center;
          justify-content: center;
          left: 0;
          overflow: hidden;
          position: absolute;
          top: 0;
          width: 100%; }
          #select-map-grid ul li a div.wrapper.absolute.thumb {
            z-index: -1; }
            #select-map-grid ul li a div.wrapper.absolute.thumb div {
              background-image: url("../img/map-thumbs.jpg");
              height: 278px;
              min-width: 495px;
              width: 495px;
              -ms-transform: scale(0.5);
              -webkit-transform: scale(0.5);
              transform: scale(2); }
          #select-map-grid ul li a div.wrapper.absolute.loader {
            z-index: -2;
            background-color: #3a6082; }
        #select-map-grid ul li a p {
          text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
          background-color: rgba(16, 26, 36, 0.7);
          font-size: 1.5rem;
          overflow: hidden;
          padding: 0.5rem;
          text-overflow: ellipsis;
          width: 100%;
          transition: background-color 0.2s; }
          @media screen and (max-width: 1400px) {
            #select-map-grid ul li a p {
              font-size: 1.4rem; } }
          @media screen and (max-width: 620px) {
            #select-map-grid ul li a p {
              font-size: 1.3rem;
              padding: 0.4rem; } }
          @media screen and (max-width: 400px) {
            #select-map-grid ul li a p {
              font-size: 1.2rem;
              padding: 0.25rem; } }
        #select-map-grid ul li a:hover, #select-map-grid ul li a:focus {
          -webkit-box-shadow: 0 0 40px black;
          -moz-box-shadow: 0 0 40px black;
          box-shadow: 0 0 40px black; }
          #select-map-grid ul li a:hover p, #select-map-grid ul li a:focus p {
            background-color: #3a6082 !important;
            color: #fff !important; }
        #select-map-grid ul li a:active p {
          background-color: #ffdb00;
          color: #000;
          text-shadow: none; }
        #select-map-grid ul li a.bank div.image.thumb {
          background-position: 0px 0px; }
        body[loaded-map="bank"] #select-map-grid ul li a.bank p {
          background-color: #ffdb00;
          color: #000;
          text-shadow: none; }
        #select-map-grid ul li a.border div.image.thumb {
          background-position: 0px -278px; }
        body[loaded-map="border"] #select-map-grid ul li a.border p {
          background-color: #ffdb00;
          color: #000;
          text-shadow: none; }
        #select-map-grid ul li a.chalet div.image.thumb {
          background-position: 0px -556px; }
        body[loaded-map="chalet"] #select-map-grid ul li a.chalet p {
          background-color: #ffdb00;
          color: #000;
          text-shadow: none; }
        #select-map-grid ul li a.club div.image.thumb {
          background-position: 0px -834px; }
        body[loaded-map="club"] #select-map-grid ul li a.club p {
          background-color: #ffdb00;
          color: #000;
          text-shadow: none; }
        #select-map-grid ul li a.consulate div.image.thumb {
          background-position: 0px -1112px; }
        body[loaded-map="consulate"] #select-map-grid ul li a.consulate p {
          background-color: #ffdb00;
          color: #000;
          text-shadow: none; }
        #select-map-grid ul li a.favelas div.image.thumb {
          background-position: 0px -1390px; }
        body[loaded-map="favelas"] #select-map-grid ul li a.favelas p {
          background-color: #ffdb00;
          color: #000;
          text-shadow: none; }
        #select-map-grid ul li a.hereford div.image.thumb {
          background-position: 0px -1668px; }
        body[loaded-map="hereford"] #select-map-grid ul li a.hereford p {
          background-color: #ffdb00;
          color: #000;
          text-shadow: none; }
        #select-map-grid ul li a.house div.image.thumb {
          background-position: 0px -1946px; }
        body[loaded-map="house"] #select-map-grid ul li a.house p {
          background-color: #ffdb00;
          color: #000;
          text-shadow: none; }
        #select-map-grid ul li a.kafe div.image.thumb {
          background-position: 0px -2224px; }
        body[loaded-map="kafe"] #select-map-grid ul li a.kafe p {
          background-color: #ffdb00;
          color: #000;
          text-shadow: none; }
        #select-map-grid ul li a.kanal div.image.thumb {
          background-position: 0px -2502px; }
        body[loaded-map="kanal"] #select-map-grid ul li a.kanal p {
          background-color: #ffdb00;
          color: #000;
          text-shadow: none; }
        #select-map-grid ul li a.oregon div.image.thumb {
          background-position: 0px -2780px; }
        body[loaded-map="oregon"] #select-map-grid ul li a.oregon p {
          background-color: #ffdb00;
          color: #000;
          text-shadow: none; }
        #select-map-grid ul li a.plane div.image.thumb {
          background-position: 0px -3058px; }
        body[loaded-map="plane"] #select-map-grid ul li a.plane p {
          background-color: #ffdb00;
          color: #000;
          text-shadow: none; }
        #select-map-grid ul li a.yacht div.image.thumb {
          background-position: 0px -3336px; }
        body[loaded-map="yacht"] #select-map-grid ul li a.yacht p {
          background-color: #ffdb00;
          color: #000;
          text-shadow: none; }

.sk-circle {
  margin: 0;
  width: 140px;
  height: 140px;
  position: relative; }
  @media screen and (max-width: 1400px) {
    .sk-circle {
      width: 110px;
      height: 110px; } }
  @media screen and (max-width: 620px) {
    .sk-circle {
      width: 80px;
      height: 80px; } }
  @media screen and (max-width: 400px) {
    .sk-circle {
      width: 60px;
      height: 60px; } }
  .map-elements .sk-circle {
    width: 280px;
    height: 280px;
    top: -140px;
    left: -140px; }
    @media screen and (max-width: 1400px) {
      .map-elements .sk-circle {
        width: 220px;
        height: 220px;
        top: -110px;
        left: -110px; } }
    @media screen and (max-width: 620px) {
      .map-elements .sk-circle {
        width: 160px;
        height: 160px;
        top: -80px;
        left: -80px; } }
    @media screen and (max-width: 400px) {
      .map-elements .sk-circle {
        width: 120px;
        height: 120px;
        top: -60px;
        left: -60px; } }

.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both; }

.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg); }

.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg); }

.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg); }

.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg); }

.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg); }

.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg); }

.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg); }

.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg); }

.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }

.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s; }

.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s; }

.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s; }

.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s; }

.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s; }

.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s; }

.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
/*
	jQuery.mmenu position extension CSS
*/
.mm-menu.mm-top,
.mm-menu.mm-bottom {
  width: 100%;
  min-width: 100%;
  max-width: 100%; }

.mm-menu.mm-right {
  left: auto;
  right: 0; }

.mm-menu.mm-bottom {
  top: auto;
  bottom: 0; }

html.mm-right.mm-opening .mm-slideout {
  transform: translate3d(-80%, 0, 0); }

@media all and (max-width: 175px) {
  html.mm-right.mm-opening .mm-slideout {
    transform: translate3d(-140px, 0, 0); } }
@media all and (min-width: 550px) {
  html.mm-right.mm-opening .mm-slideout {
    transform: translate3d(-440px, 0, 0); } }
/*
	jQuery.mmenu z-position extension CSS
*/
html.mm-front .mm-slideout {
  transform: none !important;
  z-index: 0; }
html.mm-front #mm-blocker {
  z-index: 1; }
html.mm-front .mm-menu {
  z-index: 2; }

.mm-menu.mm-front, .mm-menu.mm-next {
  transition: transform 0.4s ease;
  transform: translate3d(-100%, 0, 0); }
  .mm-menu.mm-front.mm-right, .mm-menu.mm-next.mm-right {
    transform: translate3d(100%, 0, 0); }
.mm-menu.mm-top {
  transform: translate3d(0, -100%, 0); }
.mm-menu.mm-bottom {
  transform: translate3d(0, 100%, 0); }

html.mm-opening .mm-menu.mm-front, html.mm-opening .mm-menu.mm-next {
  transform: translate3d(0, 0, 0); }

.mm-menu.mm-top, .mm-menu.mm-bottom {
  height: 80%;
  min-height: 140px;
  max-height: 880px; }

/*
	jQuery.mmenu pageDim extension CSS
*/
html.mm-pagedim #mm-blocker, html.mm-pagedim-white #mm-blocker, html.mm-pagedim-black #mm-blocker {
  opacity: 0; }
html.mm-pagedim.mm-opening #mm-blocker, html.mm-pagedim-white.mm-opening #mm-blocker, html.mm-pagedim-black.mm-opening #mm-blocker {
  opacity: 0.3;
  transition: opacity 0.4s ease 0.4s; }
html.mm-pagedim #mm-blocker {
  background: inherit; }
html.mm-pagedim-white #mm-blocker {
  background: #fff; }
html.mm-pagedim-black #mm-blocker {
  background: #000; }

.mm-panel {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3a6082+0,3a6082+51,1d2f3f+100 */
  background: #3a6082 !important;
  /* Old browsers */
  background: -moz-linear-gradient(top, #3a6082 0%, #3a6082 51%, #1d2f3f 100%) !important;
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #3a6082 0%, #3a6082 51%, #1d2f3f 100%) !important;
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #3a6082 0%, #3a6082 51%, #1d2f3f 100%) !important;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a6082', endColorstr='#1d2f3f',GradientType=0 ) !important;
  padding-top: 0 !important; }

.faded-logo {
  position: absolute;
  bottom: 0px;
  right: 0;
  z-index: -100;
  background-image: url("../img/r6maps-logo-blue.png");
  background-position: center bottom;
  background-position: 100% calc(100% + 18px);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  opacity: 0.7; }

.mm-opening #mm-blocker {
  opacity: 0.5 !important; }

.mm-navbar {
  position: absolute !important;
  left: -10000px;
  overflow: hidden;
  width: 1px;
  height: 1px; }

.mmenu-custom-panel {
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-weight: 400;
  margin-bottom: 1em; }
  .mmenu-custom-panel a {
    color: #000 !important;
    display: block;
    font-weight: 700;
    padding: 0.7em;
    transition: background-color 0.2s; }
    .mmenu-custom-panel a:hover, .mmenu-custom-panel a:focus {
      background-color: #ffdb00;
      text-decoration: none !important; }
  .mmenu-custom-panel h2 {
    color: grey;
    padding: 0.7em; }
  .mmenu-custom-panel label {
    display: block;
    padding: 0.7em;
    font-weight: 700; }
  .mmenu-custom-panel select {
    margin-left: 0.7rem;
    margin-bottom: 0.5rem; }
  .mmenu-custom-panel .channel-input-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0.7rem;
    width: 100%; }
    .mmenu-custom-panel .channel-input-wrapper input {
      font-weight: 400;
      padding-left: 07rem;
      width: 100%; }
  .mmenu-custom-panel .zoom.controls {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0.7em; }

#camera-los-percent {
  font-size: 1.25rem;
  font-weight: 700;
  margin-left: 0.5rem; }

#camera-los-note {
  margin-left: 0.25rem; }

.offscreen {
  position: absolute !important;
  left: -10000px;
  overflow: hidden;
  width: 1px;
  height: 1px; }

.r6-like-font, body, button, input, select {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700; }

body {
  background-color: #111111;
  background: #000000;
  /* Old browsers */
  background: -moz-linear-gradient(left, #000000 0%, #151515 50%, #111111 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #000000 0%, #151515 50%, #111111 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #000000 0%, #151515 50%, #111111 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#111111',GradientType=1 );
  /* IE6-9 */ }
  body html, body body, body div, body span, body applet, body object, body iframe, body h1, body h2, body h3, body h4, body h5, body h6, body p, body blockquote, body pre, body a, body abbr, body acronym, body address, body big, body cite, body code, body del, body dfn, body em, body img, body ins, body kbd, body q, body s, body samp, body small, body strike, body strong, body sub, body sup, body tt, body var, body b, body u, body i, body center, body dl, body dt, body dd, body ol, body ul, body li, body fieldset, body form, body label, body legend, body table, body caption, body tbody, body tfoot, body thead, body tr, body th, body td, body article, body aside, body canvas, body details, body embed, body figure, body figcaption, body footer, body header, body hgroup, body menu, body nav, body output, body ruby, body section, body summary, body time, body mark, body audio, body video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  body article, body aside, body details, body figcaption, body figure, body footer, body header, body hgroup, body menu, body nav, body section {
    display: block; }
  body body {
    line-height: 1; }
  body ol, body ul {
    list-style: none; }
  body blockquote, body q {
    quotes: none; }
  body blockquote:before, body blockquote:after {
    content: "";
    content: none; }
  body q:before, body q:after {
    content: "";
    content: none; }
  body table {
    border-collapse: collapse;
    border-spacing: 0; }

body {
  overflow: hidden; }

body, button, input, select {
  font-size: 1rem; }

#mmenu-page {
  width: 100vw;
  height: 100vh;
  position: relative; }

.map-pan-safety-wrapper {
  height: 100vh;
  width: 100vw;
  overflow: hidden; }

#map-panels-wrapper {
  -webkit-align-content: space-around;
  -moz-align-content: space-around;
  -ms-flex-line-pack: space-around;
  align-content: space-around;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around; }
  #map-panels-wrapper[map-panel-count="2"] .map-pan-safety-wrapper {
    display: inline-block;
    width: 49vw; }
    @media (orientation: portrait) {
      #map-panels-wrapper[map-panel-count="2"] .map-pan-safety-wrapper {
        height: 49vh;
        width: 100vw; } }
  #map-panels-wrapper[map-panel-count="4"] .map-pan-safety-wrapper {
    display: inline-block;
    height: 49vh;
    width: 49vw; }

.map-main {
  height: 100%;
  position: relative;
  width: 100%; }
  .map-main .center-helper {
    height: 0;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 0; }
  .map-main svg.center-helper {
    overflow: visible;
    width: 1px;
    height: 1px;
    z-index: 1112; }
  .map-main svg .camera-los {
    fill: transparent;
    stroke: #ffdb00;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-linecap: round;
    transition: opacity 1s; }
    .map-main svg .camera-los.show-more {
      opacity: 1 !important; }
    .map-main svg .camera-los.opacity-105, .map-main svg .camera-los.opacity-110 {
      stroke: #d65b2b;
      stroke-dasharray: 7; }
      .map-main svg .camera-los.opacity-105.show-more, .map-main svg .camera-los.opacity-110.show-more {
        stroke-dasharray: none; }
    .map-main svg .camera-los.opacity-110 {
      stroke-width: 5; }
  .map-main .map-elements {
    position: relative; }
    .map-main .map-elements img, .map-main .map-elements div, .map-main .map-elements a {
      position: absolute; }
    .map-main .map-elements .background {
      -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
      z-index: 1000; }
    .map-main .map-elements .floor {
      z-index: 1010; }
    .map-main .map-elements .camera {
      width: 36px;
      height: 36px;
      margin-left: -18px;
      margin-top: -18px;
      background: url("../img/icons/security-camera.png");
      background-size: 36px 36px;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 1170; }
      .map-main .map-elements .camera.outdoor {
        width: 46px;
        height: 46px;
        margin-left: -23px;
        margin-top: -23px;
        background-size: 46px 46px; }
      .map-main .map-elements .camera.other-floor {
        opacity: 0.85; }
        .map-main .map-elements .camera.other-floor.up span {
          background: url("../img/icons/up@2x.png");
          background-size: 15px, 22px;
          background-repeat: no-repeat;
          background-position: center;
          display: block;
          height: 22px;
          left: 28.5px;
          margin-left: -6px;
          margin-top: -8px;
          position: absolute;
          top: 25px;
          width: 15px;
          z-index: 1171; }
        .map-main .map-elements .camera.other-floor.down span {
          background: url("../img/icons/down@2x.png");
          background-size: 15px, 22px;
          background-repeat: no-repeat;
          background-position: center;
          display: block;
          height: 22px;
          left: 28.5px;
          margin-left: -6px;
          margin-top: -8px;
          position: absolute;
          top: 25px;
          width: 15px;
          z-index: 1171; }
      .map-main .map-elements .camera svg {
        background-color: red;
        opacity: 0.3;
        overflow: visible; }
        .map-main .map-elements .camera svg path {
          fill: #ffdb00; }
    .map-main .map-elements .objective {
      width: 30px;
      height: 40px;
      margin-left: -15px;
      margin-top: -20px;
      border-radius: 5px;
      display: none;
      z-index: 1150; }
      .map-main .map-elements .objective.hostage {
        background-color: #ab1513;
        z-index: 1153; }
      .map-main .map-elements .objective.bomb {
        background-color: #d65b2b;
        z-index: 1151; }
        .map-main .map-elements .objective.bomb p {
          font-size: 25px; }
      .map-main .map-elements .objective.secure {
        background-color: #00B200;
        z-index: 1152; }
      .map-main .map-elements .objective p {
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
        color: #fff;
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        width: 30px; }
      .map-main .map-elements .objective.up span {
        background: url("../img/icons/up@2x.png");
        background-size: 15px, 22px;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        height: 22px;
        left: 22.5px;
        margin-left: 0px;
        margin-top: -2px;
        position: absolute;
        top: 29px;
        width: 15px;
        z-index: 1151; }
      .map-main .map-elements .objective.down span {
        background: url("../img/icons/down@2x.png");
        background-size: 15px, 22px;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        height: 22px;
        left: 22.5px;
        margin-left: 0px;
        margin-top: 2px;
        position: absolute;
        top: 29px;
        width: 15px;
        z-index: 1151; }
    .map-main .map-elements .ceiling-hatch {
      width: 29px;
      height: 29px;
      margin-left: -14.5px;
      margin-top: -14.5px;
      background: url("../img/icons/ceiling-hatch.png");
      background-size: 29px, 29px;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 1020; }
    .map-main .map-elements .skylight {
      width: 29px;
      height: 29px;
      margin-left: -14.5px;
      margin-top: -14.5px;
      background: url("../img/icons/skylight@2x.png");
      background-size: 29px, 29px;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 1025; }
      .map-main .map-elements .skylight.other-floor {
        opacity: 0.7; }
        .map-main .map-elements .skylight.other-floor.up span {
          background: url("../img/icons/up@2x.png");
          background-size: 15px, 22px;
          background-repeat: no-repeat;
          background-position: center;
          display: block;
          height: 22px;
          left: 21.5px;
          margin-left: 0px;
          margin-top: -3px;
          position: absolute;
          top: 18px;
          width: 15px;
          z-index: 1026; }
        .map-main .map-elements .skylight.other-floor.down span {
          background: url("../img/icons/down@2x.png");
          background-size: 15px, 22px;
          background-repeat: no-repeat;
          background-position: center;
          display: block;
          height: 22px;
          left: 21.5px;
          margin-left: 0px;
          margin-top: -3px;
          position: absolute;
          top: 18px;
          width: 15px;
          z-index: 1026; }
    .map-main .map-elements .drone-tunnel {
      background-color: #7B0099;
      border-left: 2px solid #fff;
      border-right: 2px solid #fff;
      margin-left: -6px;
      width: 8px;
      z-index: 1160; }
      .map-main .map-elements .drone-tunnel.alternate {
        background-color: #FF1493; }
    .map-main .map-elements .spawn-point {
      z-index: 1013; }
      .map-main .map-elements .spawn-point .spawn-wrapper {
        position: relative; }
        .map-main .map-elements .spawn-point .spawn-wrapper .spawn-letter {
          background-color: #4C4C4C;
          left: -33px;
          padding: 4px;
          position: absolute;
          top: -33px;
          width: 58px;
          height: 58px; }
          .map-main .map-elements .spawn-point .spawn-wrapper .spawn-letter p {
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
            border: 2px solid #000;
            color: #fff;
            font-size: 50px;
            text-align: center;
            width: 54px;
            height: 54px;
            line-height: 54px; }
        .map-main .map-elements .spawn-point .spawn-wrapper .spawn-description {
          position: absolute;
          top: 38px;
          left: -150px;
          width: 300px;
          text-align: center; }
          .map-main .map-elements .spawn-point .spawn-wrapper .spawn-description p {
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
            background-color: #4C4C4C;
            color: #fff;
            display: inline-block;
            font-size: 27px;
            padding: 2px 6px;
            text-transform: uppercase; }
    .map-main .map-elements .room-label {
      height: 2.5em;
      margin-left: -110px;
      margin-top: -1.25em;
      opacity: 0.7;
      text-align: center;
      width: 220px;
      z-index: 1165; }
      .map-main .map-elements .room-label p {
        text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.8);
        color: #fff;
        display: inline-block;
        font-size: 16px;
        font-weight: 400; }
        .map-elements.room-label-larger .room-label p {
          font-size: 21px !important; }
        .map-elements.room-label-darker .room-label {
          opacity: 1 !important; }
          .map-elements.room-label-darker .room-label p {
            background: rgba(16, 26, 36, 0.7);
            font-weight: 600 !important;
            opacity: 1; }
      .map-main .map-elements .room-label.hard-to-read {
        opacity: 0.8; }
        .map-main .map-elements .room-label.hard-to-read p {
          background: rgba(16, 26, 36, 0.6); }
      .map-main .map-elements .room-label.very-hard-to-read {
        opacity: 1.05; }
        .map-main .map-elements .room-label.very-hard-to-read p {
          background: rgba(16, 26, 36, 0.6); }
    .map-main .map-elements.show-objective-all .objective {
      display: block; }
    .map-main .map-elements.show-objective-hostage .hostage {
      display: block; }
    .map-main .map-elements.show-objective-bomb .bomb {
      display: block; }
    .map-main .map-elements.show-objective-secure .secure {
      display: block; }
    .map-main .map-elements.zoomed-out-far .room-label {
      opacity: 0; }
  .map-main.show-floor-zero .one, .map-main.show-floor-zero .two, .map-main.show-floor-zero .three, .map-main.show-floor-zero .four, .map-main.show-floor-zero .five {
    display: none !important; }
  .map-main.show-floor-one .zero, .map-main.show-floor-one .two, .map-main.show-floor-one .three, .map-main.show-floor-one .four, .map-main.show-floor-one .five {
    display: none !important; }
  .map-main.show-floor-two .zero, .map-main.show-floor-two .one, .map-main.show-floor-two .three, .map-main.show-floor-two .four, .map-main.show-floor-two .five {
    display: none !important; }
  .map-main.show-floor-three .zero, .map-main.show-floor-three .one, .map-main.show-floor-three .two, .map-main.show-floor-three .four, .map-main.show-floor-three .five {
    display: none !important; }
  .map-main.show-floor-four .zero, .map-main.show-floor-four .one, .map-main.show-floor-four .two, .map-main.show-floor-four .three, .map-main.show-floor-four .five {
    display: none !important; }
  .map-main.show-floor-five .zero, .map-main.show-floor-five .one, .map-main.show-floor-five .two, .map-main.show-floor-five .three, .map-main.show-floor-five .four {
    display: none !important; }

/*# sourceMappingURL=main.css.map */
