body.stats {
  .map-win-rate-container {
    display: table;
    margin: 0.5rem 0 1.5rem 0;
    width: 100%;

    .map-win-rate-row {
      display: table-row;
    }

    .map-win-rate-cell {
      display: table-cell;
      vertical-align: middle;
    }

    .visual-bar {
      .map-win-rate-cell {
        font-size: 1.8rem;
        padding: 0.5rem;

        .label {
          color: #000;
          font-size: 1rem;
          text-transform: uppercase;
        }

        &.attackers {
          background-color: $r6-orange;
        }
        &.defenders {
          background-color: $r6-blue;
        }
      }
    }

    .header {
      font-size: 1.8rem;
      padding-bottom: 0.5rem;
      text-transform: uppercase;

      &.attackers {
        color: $r6-orange;
      }
      &.defenders {
        color: $r6-blue;
      }
    }

    .defenders {
      text-align: right;
    }
  }

  .map-win-reasons-container {
    @include flexbox;

    .map-win-reasons-canvas-wrapper {
      width: 100%;
      height: 500px;
      text-align: center;
    }
  }
}
