@import "../common/_settings.scss";

$bg-rank-unranked: #fff;
$bg-rank-copper: #b87333;
$bg-rank-bronze: #cd7f32;
$bg-rank-silver: #D3D3D3;
$bg-rank-gold: #FFD700;
$bg-rank-platinum: #e5e4e2;
$bg-rank-diamond: #000;
$cell-padding: 0 0.3rem;
$graph-icon-height: 25px;
$attachers-light-bg: #f6ded4;
$defenders-light-bg: #d3e0eb;

@mixin show-rank($rank) {
  .show-#{$rank} {
    table {
      .can-hide.#{$rank} {
        width: auto;
        padding: $cell-padding;
        div, span {
          display: initial;
        }
        .sortable {
          @include flexbox;
        }
      }
      tr.sub .can-hide.#{$rank} {
        padding: 0;
      }
    }
  }
}

#section-operators {

  .wrapper {
    width: 100%;
    overflow: auto;
    margin: 0 0 1em;

    &::-webkit-scrollbar  {
      -webkit-appearance: none;
      width: 14px;
      height: 14px;
    }
    &::-webkit-scrollbar-thumb  {
      border-radius: 8px;
      border: 2px solid #fff;
      background-color: rgba(0, 0, 0, .3);
    }
  }

  table {
    background-color: #fff;
    width: 100%;

    td, th {
      box-sizing: border-box;
      color: #000;
      height: 1.75rem;
      text-align: center;
      vertical-align: middle;
      white-space: nowrap;
    }

    td {
      padding: $cell-padding;
    }

    tr.main {
      &.attackers {
        background-color: $r6-orange !important;
        th.stat-name:hover, th.stat-name:focus {
          background-color: $attachers-light-bg;
        }
      }
      &.defenders {
        background-color: $r6-blue !important;
        th.stat-name:hover, th.stat-name:focus {
          background-color: $defenders-light-bg;
        }
      }
      th {
        border-left: 1px solid #000;
        color: #fff;
        font-size: 1.1rem;
        padding-left: 0.6rem;
        padding-right: 0.6rem;

        &.op-name {
          border-left: none;
          padding: $cell-padding;
        }
        &.stat-name {
          cursor: pointer;
          text-decoration: underline;
          transition: background-color $button-transition;
          &:hover, &:focus {
            color: #000;
            .graph-icon {
              background-position-y: -$graph-icon-height;
            }
          }
          .stat-name-wrapper {
            pointer-events: none;
          }
          .graph-icon {
            display: inline-block;
            background-image: url($img-location + 'icons/stat-icons-sprite@2x.png');
            background-repeat: no-repeat;
            background-size: $graph-icon-height;
            height: $graph-icon-height;
            margin-left: 10px;
            width: $graph-icon-height;
          }
        }
        &:first-child {
          border-left: none;
        }
        &:nth-child(2) {
          padding-left: $cell-padding;
        }
      }
    }

    tr.sub {
      background-color: $dark-grey;

      th {
        color: #fff;
        font-size: 0.75rem;
        padding: 0;
        text-decoration: underline;
        text-transform: uppercase;
      }
      p {
        padding: 0 1px;
        white-space: initial;
      }
      .rank-icon {
        background-position-x: center;
        width: 100%;
      }
      .op-name .sortable {
        @include justify-content(left);
        padding: $cell-padding;
      }
    }

    tr.average-totals {
      td {
        font-weight: 700;
        color: #000;
      }
    }

    tr.attackers:nth-child(even) {
      background-color: $attachers-light-bg;
    }

    tr.defenders:nth-child(even) {
      background-color: $defenders-light-bg;
    }

    .can-hide {
      color: $very-dark-grey;
      width: 0px;
      padding: 0;

      div, span {
        display: none;
      }
    }

    .op-name, .field-name {
      text-align: left;
    }

    .all-ranks {
      border-left: 1px solid #000;
    }

    .warning {
      color: $r6-orange;
    }
  }

  input[type='checkbox'] {
    -webkit-appearance:none;
    background-color: #fff;
    background-position-x: 32px;
    border: 3px solid #fff;
    border-radius: 3px;
    cursor: pointer;
    height: 31px;
    transition: background-color $button-transition, border-color $button-transition;
    width: 31px;

    &:hover, &:focus {
      background-color: $r6-blue;
      border-color: $r6-blue;
    }
  }
  input[type='checkbox']:checked {
    background-position-x: 0px;

    &:hover {
      border-color: $r6-blue;
    }
  }

  .sortable {
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    cursor: pointer;
    height: 100%;
    transition: background-color $button-transition;

    &:hover, &:focus {
      background-color: $r6-blue;
    }
    .sort-order-icon {
      display: none;
    }

    &.current-sort {
      .sort-order-icon {
        background-image: url($img-location + '/icons/sort-order-down@2x.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 15px;
        display: block;
        height: 20px;
        margin: 3px;
        width: 30px;
      }
      &.ascending {
        .sort-order-icon {
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }
    }
  }

  @include show-rank('unranked');
  @include show-rank('copper');
  @include show-rank('bronze');
  @include show-rank('silver');
  @include show-rank('gold');
  @include show-rank('platinum');
  @include show-rank('diamond');
}
