@import "../common/_meyer-reset.scss";
@import "../common/_helpers.scss";
@import "../common/_settings.scss";
@import "../common/_common.scss";

html {
  font-size: 22px;
}

body.stats {
  background: url($img-location + 'about-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  font-weight: 700;
  padding: 1rem;

  a {
    color: #fff;
  }

  h1 {
    margin: 1rem 0.5rem;
    font-size: 3.9rem;
    line-height: 80px;

    a {
      background-image: url($img-location + 'r6maps-logo.png');
      background-repeat: no-repeat;
      background-size: 80px;
      padding-left: 90px;
      text-decoration: none;
    }
  }

  h2 {
    color: $r6-yellow;
    font-size: 1.6rem;
    margin-bottom: 0.75rem;
    text-transform: uppercase;
  }

  nav {
    box-sizing: border-box;
    display: inline-block;
    float: left;
    width: 330px;
  }

  nav, section {
    background-color: rgba(16, 26, 36, 0.6);
    margin-bottom: 1.5rem;
    padding: 0.5rem 0.75rem 1rem 0.75rem;
  }

  main {
    margin-left: 350px;
  }

  ul {
    margin-left: 1rem;

    li {
      line-height: 130%;
      list-style-type: circle;
      padding: 0 0 0.5rem 0;
    }
  }

  div.control {
    margin-bottom: 1rem;

    label {
      display: block;
      margin-bottom: 0.3rem;
    }

    select {
      width: 100%;
    }

    &.multi-view {
      option {
        font-weight: 700;
      }
    }

    p.all-text {
      background-color: $light-grey;
      color: #000;
      display: none;
      padding: 5px;
    }

    &.only-all {
      p.all-text {
        display: block;
      }
      select {
        display: none;
      }
    }
  }
}

#skill-rank-control {
  label {
    display: inline;
    margin-right: 0.5rem;
  }
  select {
    width: auto;
  }
}

#load-control {
  background-color: $green-of-sorts;
	border: none;
  color: #fff;
  cursor: pointer;
  display: block;
	font-size: 1.4rem;
	padding: 0.15rem 0.5rem;
	text-decoration:none;
  transition: background-color $button-transition;
  width: 100%;

  &:hover, &:focus {
    background-color: $r6-blue;
  }

  body.disable-load & {
		background-color: $grey;
    pointer-events: none;
  }
}
