@import "../common/_meyer-reset.scss";
@import "../common/_helpers.scss";
@import "../common/_settings.scss";
@import "../common/_common.scss";
@import "_stats-common.scss";
@import "_map.scss";
@import "_operators.scss";
@import "_operator_icons.scss";
@import "_controls.scss";
@import "_rank_icons.scss";
@import "_chart.scss";

html {
  font-size: 22px;

  @media all and (max-width: $breakpoint-large ) {
    font-size: 20px;
  }
  @media all and (max-width: $breakpoint-med ) {
    font-size: 18px;
  }
  @media all and (max-width: $breakpoint-one-column ) {
    font-size: 16px;
  }
}

body.stats {
  background: url($img-location + 'about-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  font-weight: 700;
  padding: 1rem;

  @media all and (max-width: $breakpoint-mobile ) {
    padding: 1rem 0.2rem;
  }

  a {
    color: #fff;
  }

  h2 {
    color: $r6-yellow;
    font-size: 1.6rem;
    margin-bottom: 0.75rem;
    text-transform: uppercase;
  }

  h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  p.error {
    color: $r6-red;
  }

  nav {
    box-sizing: border-box;
    display: inline-block;
    float: left;
    width: 330px;

    @media all and (max-width: $breakpoint-one-column ) {
      float: none;
      width: 100%;
    }
  }

  nav, section {
    background-color: rgba(16, 26, 36, 0.6);
    margin-bottom: 1.5rem;
    padding: 0.5rem 0.75rem 1rem 0.75rem;
  }

  section {
    &.load-in-progress {
      div.loading {
        background-image: url($img-location + 'spinner.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        width: 230px;
        height: 230px;
        margin: 0 auto;
      }
    }
  }

  main {
    display: block;
    margin-left: 350px;

    @media all and (max-width: $breakpoint-one-column ) {
      margin: 0;
    }
  }

  ul {
    margin-left: 1rem;

    li {
      line-height: 130%;
      list-style-type: circle;
      padding: 0 0 0.5rem 0;
    }
  }
}

p.instructions {
  display: none;

  body.not-loaded-yet & {
    display: block;
  }
}

#load-control {
  background-color: $green-of-sorts;
	border: none;
  color: #fff;
  cursor: pointer;
  display: block;
	font-size: 1.4rem;
	padding: 0.15rem 0.5rem;
	text-decoration:none;
  transition: background-color $button-transition;
  width: 100%;

  &:hover, &:focus {
    background-color: $r6-blue;
  }

  body.disable-load &, body.load-in-progress & {
		background-color: $grey;
    pointer-events: none;
  }
}

#skill-ranks-control {
  @include flexbox;
  @include flex-wrap(wrap);
  @include justify-content(center);
  margin-bottom: 0;
  width: 100%;

  .skill-rank-input {
    text-align: center;
    margin: 0 1rem 1rem 0;
    min-width: 4rem;
  }
}

#header-main {
  @include logo-header;
  margin: 0 0 1rem 0.75rem;
}

#not-ready-overlay {
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .loader {
    width: 50%;
    height: 50%;
    background-image: url($img-location + 'spinner.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}
