.offscreen {
  @include offscreen;
}

.r6-like-font {
  font-family: 'Open Sans Condensed', 'Noto Sans SC', 'Noto Sans KR', sans-serif;
  font-weight: 700;
}

body {
  @include meyer-reset;
  background-color: #111111 !important;
  background: #000000; /* Old browsers */
  background: -moz-linear-gradient(left, #000000 0%, #151515 50%, #111111 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #000000 0%,#151515 50%,#111111 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #000000 0%,#151515 50%,#111111 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#111111',GradientType=1 ); /* IE6-9 */
}

body, button, input, select {
  @extend .r6-like-font;
  font-size: 1rem;
}

@mixin logo-header() {
  height: 90px;

  a {
    position: absolute;

    span.logo {
      background-image: url($img-location + 'r6maps-logo.png');
      background-repeat: no-repeat;
      background-size: 90px;
      display: inline-block;
      height: 90px;
      transition: background-image $button-transition;
      width: 90px;
    }

    span.site-title {
      color: #fff;
      display: block;
      font-size: 26px;
      margin-left: 100px;
      text-decoration: none;
      transition: color $button-transition;
      white-space: nowrap;

      body[dir="rtl"] & {
        margin-left: 0;
        margin-right: 100px;
      }
    }

    &:hover, &:focus {
      span.logo {
        background-image: url($img-location + 'r6maps-logo-blue.png');
      }

      span.site-title {
        color: $r6-blue;
      }
    }
  }

  span.page-title {
    border-top: 2px solid $r6-yellow;
    display: block;
    font-size: 50px;
    font-weight: 700;
    left: 100px;
    margin-right: 100px;
    overflow: hidden;
    padding-top: 4px;
    position: relative;
    text-transform: uppercase;
    top: 36px;
    white-space: nowrap;

    body[dir="rtl"] & {
      right: 0;
    }
  }
}

.clearfix {
  @include clearfix;
}
